<section id="main">
		<div id="questionnarie-section">
			<div>
				<figure>
				<img src="../../assets/images/ques-icons.png" usemap="#html"/>
					<map name="html">
					<!-- Create Questionnarie -->
					<area shape="rect" 
					coords="30,501,155,322" alt="create questionnarie" href="#/qnr/new" target="_self" />
					<!-- Manage Questionnarie -->
					<area shape="rect" 
					coords="265,414,385,234" alt="create questionnarie" href="#/qnr/manage" target="_self" />
					<!-- Manage Exams -->
					<area shape="rect" 
					coords="492,110,608,277" alt="create questionnarie" href="#" target="_self" />
					<!-- Manage Candidate -->
					<area shape="rect" 
					coords="710,236,829,410" alt="create questionnarie" href="#/candidate/new" target="_self" />
					<!-- Manage Reports -->
					<area shape="rect" 
					coords="931,322,1055,502" alt="create questionnarie" href="#" target="_self" />
					</map>
				</figure>
			</div>
			<!--<div id="questionnarie-icons">
				<div class="rectangle" id="rectangle-1" (click)="sendToCreateQuestionnairePage()">
					<figure>
						<img src="../../assets/images/create-quest.png">
					</figure>
					<p>Create <br>Questionnarie</p>
				</div>
				<div class="rectangle-1" id="rectangle-2">
					<figure>
						<img src="../../assets/images/manage-quest.png">
					</figure>
					<p>Manage <br>Questionnarie</p>
				</div>
				<div class="rectangle-2" id="rectangle-3">
					<figure>
						<img src="../../assets/images/manage-exams.png">
					</figure>
					<p>Manage <br>Exams</p>
				</div>
				<div class="rectangle-1" id="rectangle-4">
					<figure>
						<img src="../../assets/images/manage-students.png">
					</figure>
					<p>Manage <br>Students</p>
				</div>
				<div class="rectangle" id="rectangle-5">
					<figure>
						<img src="../../assets/images/manage-report.png">
					</figure>
					<p>Manage <br>Reports</p>
				</div>
			</div>-->
			<div id="questionnarie-desc">
				<figure>
					<img src="../../assets/images/arrow.png" style="width: 7%;">
				</figure>
				<p>Get started by selecting a product</p>
			</div>
		</div>
	</section>