<section id="main">
		<div id="questionnarie-section">
			<div id="questionnarie-icons">
				<div class="rectangle" id="rectangle-1">
					<figure>
						<img src="../../assets/images/create-quest.png" (click)="sendToCreateQuestionnairePage()">
					</figure>
					<p>Create <br>Questionnarie</p>
				</div>
				<div class="rectangle-1" id="rectangle-2">
					<figure>
						<img src="../../assets/images/manage-quest.png">
					</figure>
					<p>Manage <br>Questionnarie</p>
				</div>
				<div class="rectangle-2" id="rectangle-3">
					<figure>
						<img src="../../assets/images/manage-exams.png">
					</figure>
					<p>Manage <br>Exams</p>
				</div>
				<div class="rectangle-1" id="rectangle-4">
					<figure>
						<img src="../../assets/images/manage-students.png">
					</figure>
					<p>Manage <br>Students</p>
				</div>
				<div class="rectangle" id="rectangle-5">
					<figure>
						<img src="../../assets/images/manage-report.png">
					</figure>
					<p>Manage <br>Reports</p>
				</div>
			</div>
			<div id="questionnarie-desc">
				<figure>
					<img src="../../assets/images/arrow.png" style="width: 7%;">
				</figure>
				<p>Get started by selecting a product</p>
			</div>
		</div>
	</section>