<section id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 image-section">
						<p class="image-p">Plan your Activities and control your
						progress online</p>
						<figure>
							<img src="../../assets/images/manage-exam-bg.png">
						</figure>

					</div>
					<div class="col-md-6 cand-group-sect">
						<p class="group-title">Add Candidates or Groups</p>
						<div class="group">
							<input type="text" placeholder="Exam title" name="examTitle">
						</div>
						<div class="row">
							<div class="col-md-6">
								<p class="group-heading">Groups</p>
								<div class="add-group-sec">
									<input type="text" class="form-control input-candidate" placeholder="Search" name="addGroup">
									<table>
									<tr>
											<td width="10%">
						  						<input type="checkbox" id="0">
						  						<label for="0"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="1">
						  						<label for="1"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="2">
						  						<label for="2"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="3">
						  						<label for="3"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
  									</table>
								</div>
							</div>
							<div class="col-md-6">
								<p class="group-heading">Candidates</p>
								<div class="add-cand-sec">
									<input type="text" class="form-control input-candidate" placeholder="Search" name="addGroup">
									<table>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="4">
						  						<label for="4"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="5">
						  						<label for="5"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="6">
						  						<label for="6"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
										<tr>
											<td width="10%">
						  						<input type="checkbox" id="7">
						  						<label for="7"></label>
	  										</td>
										    <td width="89%">Maria Anders</td>
										</tr>
  									</table>
								</div>
							</div>
					</div>
					<div class="row">
						<div class="col-md-12">
								<p class="group-heading">List of Students</p>
								<div class="add-cand-sec">
									<table>
										<tr>
										    <td>Maria Anders</td>
										</tr>
										<tr>
										    <td>Maria Anders</td>
										</tr>
										<tr>
										    <td>Maria Anders</td>
										</tr>
										<tr>
										    <td>Maria Anders</td>
										</tr>
  									</table>
								</div>
							</div>
					</div>
					<div id="save-button">
							<button type="button" class="btn btn-info save-btn">Publish</button>		
					</div>
			</div>
				</div>
			</div>
		</section>