<div class="modal fade" bsModal #customPoint="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-md point-model-cont">
		<div class="modal-content point-model">
			<div class="modal-header">
				<button type="button" class="close" (click)="customPoint.hide()">&times;</button>
				<h4 class="modal-title">Assign points to each question</h4>
			</div>
			<div class="modal-body formatting-body">
				<div class="row">
					<div class="col-md-8">
					</div>
					<div class="col-md-4">
						<span class="color-p show-all">Negative Marking</span>
						<div class="tggl-wrap">
							<input class='tggl-input' id='btn-5' type='checkbox' name="negativeMarking">
						<label class='tggl-btn txtswitch ying' for='btn-5'>
      						<span class="on">ON</span><span class="off">OFF</span>
   	 					</label>
						</div>
					</div>
				</div>
				<div id="question-area">
				<table>
					<tr>
						<th width="43%" class="title">Questions</th>
						<th width="8%">+ Marks</th>
						<th width="8%">- Negative</th>
					</tr>
					<tr *ngFor="let questionnaire of questionnaires; let i = index">
						<td width="43%" class="title">
							<p>vdsfd</p>
						</td>
						<td width="8%">
							<p>vdsfd</p>
						</td>
						<td width="8%">
							<p>vdsfd</p>
						</td>
					</tr>
				</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" (click)="saveQuestion()">Save</button>
				<button type="button" class="btn btn-default cancel-btn" (click)="customPoint.hide()">Close</button>
			</div>
		</div>
	</div>
</div>


<section id="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 top-header">
				<p>Manage Exams</p>
			</div>
		</div>
	</div>
	<div class="container-fluid config-container">
		<div class="row">
			<div class="col-md-12 config-section">
					<p class="time">Score</p>
				<hr class="line">
				<br>
				<form class="form-inline scoring-cont">
					<div class="form-group scoring-options">
						<label for="scoring">Scoring:</label>
						<select class="form-control scoring-select" id="scoring" name="scoring">
							<option>Assign total points to the exam</option>
							<option>Assign total points to each question</option>
						</select>
					</div>
					<!-- <div class="total-marks">
						<input type="number" class="form-control" id="mark-input" name="totalMarks" />
					</div> -->
					<div class="custom-marking">
						<button type="button" class="btn btn-default point-btn" (click)="customPoint.show()">
      						<span class="glyphicon glyphicon-paste"></span> Manage Point Assignment
   						</button>
					</div>
				</form>
				<br>
				<p class="time">Time</p>
				<hr class="line">
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="examAvailability">Exam Availability:</label>
						<select class="form-control exam-avai-select" id="examAvailability" name="examAvailability" [(ngModel)]="examData.examAvailability">
									<option *ngFor="let examAvailability of examAvailability">{{examAvailability.value}}</option>
								</select>
					</div>
				</form>
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="examDuration">Exam Duration:</label>
						<select class="form-control exam-dur-select" id="examDuration" name="examDuration" [(ngModel)]="examData.examDuration">
									<option *ngFor="let examDuration of examDuration">{{examDuration.value}}</option>
									
								</select>
					</div>
				</form>
				<br>
				<p class="time">Questions</p>
				<hr class="line">
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="order">Order of 
								questions:</label>
						<select class="form-control order" id="orderOfQuestions" name="orderOfQuestions" [(ngModel)]="examData.orderOfQuestions">
									<option *ngFor="let orderOfQuestions of orderOfQuestions">{{orderOfQuestions.value}}</option>
																	</select>
					</div>
				</form>
				<br>
				<p class="time">Answers</p>
				<hr class="line">
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="rightAns">Right Answer:</label>
						<div class="form-control right-ans">
							<input type="checkbox" id="showRightAnswer" name="showRightAnswer" [(ngModel)]="examData.showRightAnswer">
							<label for="showRightAnswer">Allow users to see all correct answers at end of exam</label>
						</div>
					</div>
				</form>
				<br>
				<p class="time">Result</p>
				<hr class="line">
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="resultType">Result type:</label>
						<select class="form-control result-type" id="resultType" name="resultType" [(ngModel)]="examData.resultType">
									<option *ngFor="let resultType of resultType">{{resultType.value}}</option>
																	</select>
					</div>
					<div class="form-group">
						<div id="passing-marks" *ngIf= "examData.resultType==='Pass or Fail'">
							Minimum Passing Score
							<strong>|</strong>
							<select name="minPassScore" id="minPassScore" class="min-score">
									<option>30%</option>
									<option>40%</option>
									<option>50%</option>
									<option>60%</option>
								</select>
						</div>
					</div>
					 <div id="l-g" *ngIf= "examData.resultType==='Letter Grading'">
								<table class="letter-grade">
									<tr>
										<td>Grade<strong> A &rArr;&nbsp;</strong></td>
										<td>
											<select name="l-g-A-0" id="l-g-A-0" class="form-control g-form">
												<option>30%</option>
												<option>40%</option>
												<option>50%</option>
												<option>60%</option>
											</select>
											&nbsp; -to- &nbsp;
											<select name="l-g-A-1" id="l-g-A-1" class="form-control g-form">
												<option>30%</option>
												<option>40%</option>
												<option>50%</option>
												<option>60%</option>
											</select>
										</td>
									</tr>
										<tr>
											<td>Grade<strong> B &rArr;&nbsp;</strong></td>
											<td>
												<select name="l-g-B-0" id="l-g-B-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="l-g-B-1" id="l-g-B-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>Grade<strong> C &rArr;&nbsp;</strong></td>
											<td>
												<select name="l-g-C-0" id="l-g-C-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="l-g-C-1" id="l-g-C-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>Grade<strong> D &rArr;&nbsp;</strong></td>
											<td>
												<select name="l-g-D-0" id="l-g-D-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="l-g-D-1" id="l-g-D-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
										<tr>
											<td>Grade<strong> F &rArr;&nbsp;</strong></td>
											<td>
												<select name="l-g-F-0" id="l-g-F-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="l-g-F-1" id="l-g-F-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
								</table>
							</div>
					 <div id="g-e" *ngIf= "examData.resultType==='Good or Excellent'">
								<table class="good-excillent">
									<tr>
										<td><strong> Excellent &rArr;&nbsp;</strong></td>
										<td>
											<select name="g-e-A-0" id="g-e-A-0" class="form-control g-form">
												<option>30%</option>
												<option>40%</option>
												<option>50%</option>
												<option>60%</option>
											</select>
											&nbsp; -to- &nbsp;
											<select name="g-e-A-1" id="g-e-A-1" class="form-control g-form">
												<option>30%</option>
												<option>40%</option>
												<option>50%</option>
												<option>60%</option>
											</select>
										</td>
									</tr>
										<tr>
											<td><strong> Very Good &rArr;&nbsp;</strong></td>
											<td>
												<select name="g-e-B-0" id="g-e-B-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="g-e-B-1" id="g-e-B-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
										<tr>
											<td><strong> Good &rArr;&nbsp;</strong></td>
											<td>
												<select name="g-e-C-0" id="g-e-C-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="g-e-C-1" id="g-e-C-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
										<tr>
											<td><strong> Fair &rArr;&nbsp;</strong></td>
											<td>
												<select name="g-e-D-0" id="g-e-D-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="g-e-D-1" id="g-e-D-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
										<tr>
											<td><strong> Needs Improvement &rArr;&nbsp;</strong></td>
											<td>
												<select name="g-e-F-0" id="g-e-F-0" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
												&nbsp; -to- &nbsp;
												<select name="g-e-F-1" id="g-e-F-1" class="form-control g-form">
													<option>30%</option>
													<option>40%</option>
													<option>50%</option>
													<option>60%</option>
												</select>
											</td>
										</tr>
								</table>
							</div> 

				</form>
				<br>
				<p class="time">Alerts</p>
				<hr class="line">
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="examTaker">Exam taker:</label>
						<div class="form-control Email-check">
							<input type="checkbox" id="mailToExamTaker" name="mailToExamTaker" [(ngModel)]="examData.mailToExamTaker">
							<label for="mailToExamTaker">Email<select id="examMail" class="form-control exam-taker"  name="documentMailToExamTaker" [(ngModel)]="examData.documentMailToExamTaker">
		<option *ngFor="let resultReportType of resultReportType">{{resultReportType.value}}</option>

								</select>  to Exam-taker when they complete this exam</label>
						</div>
					</div>
				</form>
				<br>
				<form class="form-inline">
					<div class="form-group">
						<label for="candidateMail">Candidates:</label>
						<div class="form-control Email-check">
							<input type="checkbox" id="mailToCandidate" name="mailToCandidate" [(ngModel)]="examData.mailToCandidate">
							<label for="mailToCandidate">Email <select name="candidateMail" id="candidateMail" class="form-control exam-taker" name="documentMailToCandidate" [(ngModel)]="examData.documentMailToCandidate">
									<option *ngFor="let resultReportType of resultReportType">{{resultReportType.value}}</option>
						
								</select>   for every attempt on this exam</label>
						</div>
					</div>
				</form>
				<br>
				<div id="save-button">
					<button type="button" (click)="sendToAddStudentsPage()" class="btn btn-info save-btn">Next</button>
				</div>
			</div>
		</div>
	</div>

</section>