body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
	
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
#main{
	width: 100%;
	background-color: #ecf0f1;
	margin-bottom: 0px;
}

.top-header{
	background-color: #48a5ea;
        padding: 15px 33px 55px 33px;
}
.top-header p{
	color: white;
    font-size: 125%;
    font-weight: bold;
}
.config-container{
	margin: 0px 15px;
}
.config-section{
	background-color: white;
    z-index: 999;
    position: relative;
    top: -39px;
    min-height: 670px;
    padding: 8px 20px;
        border-radius: 3px;
}
.time{
    color: #223460;
    font-size: 115%;
}
.line{
	height: 1px;
    background-color: #e4e3e3;
    margin: 0;
    position: relative;
    top: 5px;
   
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    color: #48a5ea;
}
.exam-avai-select,.exam-dur-select,.order,.result-type,.exam-taker{
	height: 30px;
	padding: 5px 15px;
}
.exam-avai-select{
    margin-left: 28px;
}
.exam-dur-select{
	margin-left: 45px;
}
.order{
	margin-left: 15px;
}
.right-ans{
	border: none;
	box-shadow: none;
	margin-left: 46px;
}
.result-type{
	margin-left: 74px;
}
#passing-marks{
	display: block;
	    font-size: 14px;
    color: #666;
    letter-spacing: normal!important;
    float: left;
    padding: 4px 5px;
    border-radius: 4px;
    border: solid 1px #B4BBCD;
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-bottom-right-radius: 2px;
}
.min-score{
	margin:0px;
	padding:0px 5px;
	border:none;
}
.exam-taker{
	margin: -4px 5px;
}
.Email-check{
	border: none;
	box-shadow: none;
	margin-left: 60px;
}
#save-button{
	margin-top: 15px;
    width: 100%;
    text-align: right;
}
.save-btn{
	margin: 0px 25px;
	padding: 6px 20px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  font: 14px/20px;
  color: #223460;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0; 
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #48a5ea;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Email-check label, .Email-check select{
	display: inline-block;
	vertical-align: top;
}