body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
	
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
#main{
	width: 100%;
	background-color: #ecf0f1;
	margin-bottom: 0px;
}

.top-header{
	background-color: #48a5ea;
        padding: 15px 33px 55px 33px;
}
.top-header p{
	color: white;
    font-size: 125%;
    font-weight: bold;
}
.config-container{
	margin: 0px 15px;
}
.config-section{
	background-color: white;
    z-index: 999;
    position: relative;
    top: -39px;
    min-height: 670px;
    padding: 8px 20px;
        border-radius: 3px;
}
.time{
    color: #223460;
    font-size: 115%;
}
.line{
	height: 1px;
    background-color: #e4e3e3;
    margin: 0;
    position: relative;
    top: 5px;
   
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    color: #48a5ea;
}
.exam-avai-select,.exam-dur-select,.order,.result-type,.exam-taker{
	height: 30px;
	padding: 5px 15px;
}
.scoring-select{
    margin-left: 95px;
}
.exam-avai-select{
    margin-left: 37px;
}
.exam-dur-select{
	margin-left: 50px;
}
.order{
	margin-left: 27px;
}
.right-ans{
	border: none;
	box-shadow: none;
	margin-left: 46px;
}
.neg-score{
	border: none;
	box-shadow: none;
	margin-left: 20px;
}
.result-type{
	margin-left: 72px;
}
#passing-marks{
	display: block;
	    font-size: 14px;
    color: #666;
    letter-spacing: normal!important;
    float: left;
    padding: 4px 5px;
    border-radius: 4px;
    border: solid 1px #B4BBCD;
    border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-bottom-right-radius: 2px;
}
.min-score{
	margin:0px;
	padding:0px 5px;
	border:none;
}
.exam-taker{
	margin: -4px 5px;
}
.Email-check{
	border: none;
	box-shadow: none;
	margin-left: 60px;
}
#save-button{
	margin-top: 15px;
    width: 100%;
    text-align: right;
}
.save-btn{
	margin: 0px 25px;
	padding: 6px 20px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 15px;
  font: 14px/20px;
  color: #223460;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0; 
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #48a5ea;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.tggl-wrap label:before{
    visibility: hidden;
}
.input-link{
    margin-left: 30px;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Email-check label, .Email-check select{
	display: inline-block;
	vertical-align: top;
}
#l-g,{
    display: block;
    background-color: #ecf0f1;
    color: #8c6073;
    padding: 5px 10px;
    border: solid 1px #48a5ea;
    border-radius: 4px;
    width: 25%;
    margin-left: 152px;
}
#g-e{
      display: block;
    background-color: #ecf0f1;
    color: #8c6073;
    padding: 5px 10px;
    border: solid 1px #48a5ea;
    border-radius: 4px;
    width: 34%;
    margin-left: 152px;
}
.letter-grade{
    
}
.g-form{
    height: 30px;
    padding: 4px 8px;
    margin-bottom: 4px;
}
#mark-input{
    padding: 5px;
    background-color: #ffffff;
    color: #636363;
    width: 30%;
    border-radius: 4px;
    margin-left: 5px
}
.scoring-cont .scoring-options, .scoring-cont .total-marks{
    display: inline-block;
}
.scoring-cont .scoring-options, .scoring-cont .custom-marking{
    display: inline-block;
}
.point-btn{
    color: #636363;
}
.point-btn:hover{
    background-color: #48a5ea;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border-color: #48a5ea;
}
.point-model-cont{
    width:720px;
}
.point-model{
    position: relative;
    top: 24px;
}
.modal-title {
    color: #fff;
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
}
.modal-header {
    padding: 15px;
    background-color: #48a5ea; 
    border-radius: 4px;
    border-bottom: 1px solid #ecf0f1 !important;
}
.cancel-btn{
       color: #5bc0de !important;
    background-color: transparent !important;
    border-color: #5bc0de !important;
    margin-left: 15px !important;
}
  .cancel-btn:hover{
         color: #dd2328 !important;
    background-color: transparent !important;
    border-color: #dd2328 !important;
    -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
    }
.color-p{
    color: #48a5ea;
   
}
.show-all{
    vertical-align: top;
}

/*styles for toggle button*/
.tggl-wrap {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 5px;
}
.tggl-input {
  display: none;
}
.tggl-btn {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  position: relative;
  width: 4em;
  height: 2em;
  border-radius: 1em;
  cursor: pointer;
}
.tggl-btn.switch {
  padding: 2px;
}
.tggl-btn.switch:after {
  content: '';
  display: block;
  position: absolute;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  left: 2px;
  -webkit-transition: left 0.2s ease, background-color 0.3s ease;
  transition: left 0.2s ease, background-color 0.3s ease;
}
.tggl-input:checked + .tggl-btn.switch:after {
  left: calc(50% + 2px);
}
.tggl-btn.txt {
  overflow: hidden;
}
.tggl-btn.txt:before,
.tggl-btn.txt:after {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 2em;
  font-weight: 700;
  color: #fff;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.tggl-btn.txt:before {
  content: attr(data-tg-off);
  left: 0;
}
.tggl-btn.txt:after {
  content: attr(data-tg-on);
  left: -100%;
}
.tggl-input:checked + .tggl-btn.txt:before {
  left: 100%;
}
.tggl-input:checked + .tggl-btn.txt:after {
  left: 0;
}
.tggl-btn.txtswitch {
  width: 5em;
  padding: 2px;
}
.tggl-btn.txtswitch span {
  display: block;
  position: absolute;
  width: calc(5em - 8px);
  line-height: calc(2em - 4px);
  font-weight: 700;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.tggl-btn.txtswitch span.on {
  opacity: 0;
  text-align: right;
  padding-right: 2em;
}
.tggl-btn.txtswitch span.off {
  opacity: 1;
  text-align: left;
  padding-left: 2em;
}
.tggl-btn.txtswitch:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.tggl-input:checked + .tggl-btn.txtswitch:after {
  left: calc(3em + 2px);
}
.tggl-input:checked + .tggl-btn.txtswitch span.on {
  opacity: 1;
}
.tggl-input:checked + .tggl-btn.txtswitch span.off {
  opacity: 0;
}
.tggl-btn.ying {
      background-color: rgba(72, 165, 234, 0.6);
}
.tggl-btn.ying.switch:after {
  background-color: #fff;
}
.tggl-input:checked + .tggl-btn.ying {
  background-color: #48a5ea;
}
.tggl-btn.ying.txtswitch span {
  color: #fff;
}
.tggl-btn.ying.txtswitch:after {
  width: calc(2em - 4px);
  height: calc(2em - 4px);
  background-color: #fff;
}

#question-area{
    margin: 4px 0 0;
    height: 300px;
    min-height: 300px;
    overflow-y: auto;
}
.title{
  text-align: left;
  padding: 0 20px;
}
table {
    border-collapse: collapse;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #CCCCCC;
    background: none repeat scroll 0 0 #F9F9F9;
}
th {
    text-align: center;
    padding: 5px 21px;
    background-color: #f1f1f1;
    color: #48a5ea;
}
td {
    text-align: center;
    padding: 10px 0px;
    color: #223460;
    border-bottom: 1px solid #c8c8c8;
}
#custom-mark-input{
    padding: 5px;
    background-color: #ffffff;
    color: #636363;
    width: 45%;
    border-radius: 4px;
    text-align: center;
    margin-left: 5px;
    height: 30px;
    position: relative;
    left: 32px;
}
.all-questions figure, .all-questions p{
	display: inline-block;
	vertical-align: middle;
}
.all-questions figure img{
	width: 80%;
}
.all-questions p{
    font-size: 115%;
    color: #48a5ea;
}
.modal button{
    margin-top: 0px !important;
}
button.close{
    color: white;
    opacity: 1;
}
button.close:hover{
    color: #223560;
    opacity: 1;
}
.neg-data-hide{
    visibility: hidden;
}
.neg-data-show{
    visibility: visible;
}
.point-model-cont{
    width: 70%;
}
.c-p-btn{
    padding: 4px 8px;
    margin-left: 5px;
}
.percentage-group{
    padding: 18px 50px;
}
.modal-percentage{
    top: 15px;
}
#neg-marking{
    width: 54%;
    height: 30px;
    position: relative;
    top: -6px;
    left: -9px;
    padding: 5px 18px 5px 3px;
    background-color: #ffffff;
    color: #636363;
    border-radius: 4px;
    text-align: left;
    margin-left: 5px;
}

.input-symbol-per {
  position: relative;
}
.input-symbol-per:after {
  position: absolute;
  top: -31px;
  content: "%";
  left: 43px;
  color: #737373;
}