<body>
    <section id="main">

        <div id="ques-dashboard">
            <div id="dasboard-menu">
                <figure>
                    <img src="images/clock.png">
                    <p>Time</p>
                </figure>
                <div id="questions">
                    <p>QUESTIONS</p>
                </div>

                <div id="questions-row" *ngFor="let main of mainArray; let ind = index">
                    <div class="circle" [ngClass]="{ 'active': inner == currentQuesNo, 'markforReview': questions[inner-1].questionStatus ==='M', 'ansSelected': (questions[inner-1].questionStatus ==='A')}"  *ngFor="let inner of main; let innrInd = index" (click)="selectQuestion(inner)">
                        <p >{{inner}}</p>
                    </div>

                </div>
                <hr id="hr-questions">
            </div>
            <div id="question-area">
                <div id="quiz-title">
                    <p>Quiz Name</p>
                    <img src="images/question-layout-pattern.png">
                </div>
                <div id="question-bar">
                    <p>Question {{currentQuesNo}} of {{questions.length}}</p>
                </div>
                <div id="current-ques">
                    <div id="question-image">

                    </div>
                    <div id="question-part">
                        <p>{{currentQuestion.questionDesc}}</p>
                    </div>
                    <div id="select-following">
                        <p>Select one of the following:</p>
                    </div>
                    <ul class="answer-list">
                        <li class="quiz-answer" *ngFor="let answer of currentQuestion.answer; let i = index">
                            <div class="question-performe-answer">
                                <input type="checkbox" name="answer" class="answer-checkbox" value="1">
                            </div>
                            <div class="answer-content btn" [ngClass]="{'ansSelected': answer.isSelected}" (click)="attmptedQuestion(i)" >
                                <p>{{answer.description}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="quiz-action-button">
                    <button type="button" class="btn btn-info" [disabled]="currentIndex==0" (click)="moveToPreviousQuestion()">Previous</button>
                    <button *ngIf="currentQuestion.questionStatus!=='M'" type="button" class="btn btn-warning" (click)="markForReview()">Mark for Review</button>
                    <button *ngIf="currentQuestion.questionStatus==='M'" type="button" class="btn btn-primary" (click)="unmarkForReview()">Unmark for Review</button>
                    <button type="button" class="btn btn-info" (click)="moveToNextQuestion()" [disabled]="currentQuesNo == questions.length">Next</button>
                </div>
            </div>
        </div>
    </section>
</body>