<div class="modal fade" bsModal #insertQuestion="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="insertQuestion.hide()">&times;</button>
				<h4 class="modal-title">Choose Options</h4>
			</div>
			<div class="modal-body">
				<button class="insert-button">
		     	    <img src="../../assets/images/true-false.png" (click)="createQuestion('TRUE_FALSE');insertQuestion.hide()" width="120" />
				</button>
				<button class="insert-button">
     			    <img src="../../assets/images/multiple-single.png" (click)="createQuestion('MULTIPLE_CHOICE_SINGLE');insertQuestion.hide()" width="120" />
				</button>
				<button class="insert-button">
     				<img src="../../assets/images/multiple-multi.png" (click)="createQuestion('MULTIPLE_CHOICE_MULTI');insertQuestion.hide()" width="120" />
				</button>
				<button class="insert-button">
     				<img src="../../assets/images/fill-in-the-blank.png" (click)="createQuestion('FILL_IN_THE_BLANK');insertQuestion.hide()" width="120" />
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" (click)="insertQuestion.hide()">Close</button>
			</div>
		</div>
	</div>
</div>

<section id="main">
	<section id="ques-body">
		<nav id="ques-nav">
			<ul>
				<li>
					<a href="#"><img src="../../assets/images/save.png" alt="save icon"> Save</a>
				</li>
				<li>
					<a (click)="redirectToQuestinnairePreview()"><img src="../../assets/images/preview.png" alt="preview icon"/> Preview</a>
				</li>
				<li>
					<a href="#"><img src="../../assets/images/settings.png" alt="settings icon"> Settings</a>
				</li>
			</ul>
		</nav>
		<div id="ques-dashboard">
			
			<div id="dasboard-menu">
				
				<!-- <div class="shape-icon shape-1"></div>
						<div class="shape-icon shape-2"></div>
						<div class="shape-icon shape-3"></div>
						<div class="shape-icon shape-4"></div> -->
				<figure id="insert-ques">
					<img src="../../assets/images/insert-q-icon.png" class="" (click)="insertQuestion.show()" alt="insert question icon">
					<br>
					<button type="button" class="insert-button" (click)="insertQuestion.show()">Insert Question</button>
				</figure>
				
				<div id="ques-lists">
					<div class="scrollbar" id="style-8">
					<table>
						<tr *ngFor="let question of questions; let i = index" (click)="selectCurrentQuestion(question)" [popover]="popTemplate" triggers="mouseenter:mouseleave"
						 placement="top">
							<td>{{i+1}}</td>
							<td><img [src]="getIconBasedOnQuesType(question.questionType)" style="width:25px; height:auto;" /></td>
							<td>Question Title</td>
							<td><img src="../../assets/images/star.png" style="width:60%; height:auto;" /></td>
							<td>1</td>
							<template #popTemplate>
								<div><label style="color:#9400D3;"><i>Question: {{question.questionDesc}}</i></label></div>
								<div *ngFor="let answer of question.answer; let i = index"><p style="color:#FF0000;"><i>Option {{i+1}}: {{answer.description}}</i></p></div>
							</template>
						</tr>

					</table>
				</div>
			</div>
			</div>
			<div id="question-area">
				<form #questionnaireForm="ngForm">
					<!-- Multiple choice -->
					<div *ngIf="currentQuestion.questionType=='MULTIPLE_CHOICE_SINGLE'">
						<div id="ques-title">
							<p id="quest-p">Multiple Choice (Single Answer)</p>
							<a href="#"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()"><img src="../../assets/images/delete.png" style="width:19px; height:auto;"/></a>
						</div>

						<div class="group">
							<input type="textarea" placeholder="Question" name="multiQuesSingleAns" [(ngModel)]="currentQuestion.questionDesc" required>
							<span class="input-img"><img src="../../assets/images/input-img.png"/></span>
						</div>
						<div *ngFor="let option of currentQuestion.answer; let i = index" class="group group-1">
							<input type="text" placeholder="Option {{i+1}}" name="answer{{i+1}}" [(ngModel)]="option.description" required>
							<div class="options">
								<label>
    							<input class="radio-button-margin" type="checkbox" class="option-input radio" name="option{{i+1}}" (click)="selectOnlyOneOption(i)" [(ngModel)]="option.isCorrect"/>
  									  								</label>
							</div>
						</div>

					</div>

					<div *ngIf="currentQuestion.questionType=='MULTIPLE_CHOICE_MULTI'">
						<div id="ques-title">
							<p id="quest-p">Multiple Choice (Multiple Answer)</p>
							<a href="#"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()"><img src="../../assets/images/delete.png" style="width:19px; height:auto;"/></a>
						</div>
						<div class="group">
							<input type="textarea" placeholder="Question" name="multiQuesMultiAns" [(ngModel)]="currentQuestion.questionDesc" required>
							<span class="input-img"><img src="../../assets/images/input-img.png"/></span>
						</div>
						<div *ngFor="let option of currentQuestion.answer; let i = index" class="group group-1">
							<input type="text" placeholder="Option {{i+1}}" name="answer{{i+1}}" [(ngModel)]="option.description" required>
							<div class="options">
								<label title="">
									<input type="checkbox" class="option-input radio" name="option{{i+1}}" [(ngModel)]="option.isCorrect"/>
															</label>
							</div>
						</div>

					</div>

					<!-- True & False-->
					<div *ngIf="currentQuestion.questionType=='TRUE_FALSE'">
						<div id="ques-title">
							<p id="quest-p">True & False</p>
							<a href="#"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()"><img src="../../assets/images/delete.png" style="width:19px; height:auto;"/></a>
						</div>
						<div class="group">
							<input type="textarea" placeholder="Question" name="trueFalse" [(ngModel)]="currentQuestion.questionDesc" required>
							<span class="input-img"><img src="../../assets/images/input-img.png"/></span>
						</div>
						<div *ngFor="let option of currentQuestion.answer; let i = index" class="group group-1">
							<input type="text" placeholder="True" name="answer{{i+1}}" disabled [(ngModel)]="option.description" required/>

							<div class="options">
								<label title="">
									<input type="checkbox" class="option-input radio" name="option{{i+1}}" (click)="selectOnlyOneOption(i)" [(ngModel)]="option.isCorrect" />
																
								</label>
							</div>
						</div>
					</div>

					<!-- Fill in the blanks-->
					<div *ngIf="currentQuestion.questionType=='FILL_IN_THE_BLANK'">
						<div id="ques-title">
							<p id="quest-p">Fill in the blank</p>
							<a href="#"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()"><img src="../../assets/images/delete.png" style="width:19px; height:auto;"/></a>
						</div>
						
						<div class="group">
							<input type="textarea" placeholder="Question" name="fillInTheBlanks" [(ngModel)]="currentQuestion.questionDesc" required>
						</div>
						<br><br>
						<div *ngFor="let option of currentQuestion.answer" class="group">
							<input type="textarea" placeholder="Blank 1 Answer" name="answer" [(ngModel)]="option.description" required />
						</div>

					</div>
					<div id="save-button">
						<button type="button" class="btn btn-info" (click)="saveQuestion()" [disabled]="!(questionnaireForm.form.valid) || !(isvalidOption)">Save</button>
						<button type="button" class="btn btn-outline-info">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</section>