<section id="ques-body">
    <div id="ques-filter">
        <div id="filters-p">
            <div>
                <p>Filters</p>
                <button type="button" id="filter-btn" class="btn btn-info" (click)="getFiltteredQuestions()">Apply Filter</button>
            </div>

        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Title</p>
            <div id="type-ahead">
                <input type="text" class="form-control title-input" name="title" [(ngModel)]="titleSelected">
            </div>
        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Difficulty level</p>
            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isDifficultyCollapsed}" (click)="isDifficultyCollapsed = !isDifficultyCollapsed"></span></figure>
            <div [collapse]="isDifficultyCollapsed" class="card card-block card-header">

                <div class="boxes" *ngFor="let difficulty of difficulties; let i = index">
                    <input type="checkbox" id="difficulty{{i+1}}" name="difficulty{{i+1}}" [(ngModel)]="difficulty.isSelected" />
                    <label for="difficulty{{i+1}}">{{difficulty.value}}</label>
                </div>

            </div>
        </div>
        <div class="checkbox-area">
            <p class="heading-p">-Question Type</p>
            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isQuestionCollapsed}" (click)="isQuestionCollapsed = !isQuestionCollapsed"></span></figure>
            <div [collapse]="isQuestionCollapsed" class="card card-block card-header">

                <div class="boxes" *ngFor="let quesType of questionTypes; let i = index">
                    <input type="checkbox" id="quesType{{i+1}}" name="quesType{{i+1}}" [(ngModel)]="quesType.isSelected" />
                    <label for="quesType{{i+1}}">{{quesType.value}}</label>
                </div>

            </div>
        </div>
        <div class="checkbox-area">
            <p class="heading-p">-Section</p>
            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isSectionCollapsed}" (click)="isSectionCollapsed = !isSectionCollapsed"></span></figure>
            <div [collapse]="isSectionCollapsed" class="card card-block card-header">
                <div class="boxes">
                    <div id="type-ahead">
                        <input [(ngModel)]="customSectionSelected" [typeahead]="sections" typeaheadOptionField="value" (typeaheadOnSelect)="markSectionSelected(customSectionSelected)"
                            class="form-control">
                    </div>

                    <div class="boxes" *ngFor="let section of sections; let i = index">
                        <input type="checkbox" id="section{{i+1}}" name="section{{i+1}}" [(ngModel)]="section.isSelected" />
                        <label for="section{{i+1}}">{{section.value}}</label>
                    </div>

                </div>

            </div>
        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Tagging</p>

            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isCategoryCollapsed}" (click)="isCategoryCollapsed = !isCategoryCollapsed"></span></figure>
            <div [collapse]="isCategoryCollapsed" class="card card-block card-header">

                <div class="boxes">
                    <div id="type-ahead">
                        <input [(ngModel)]="customCategorySelected" [typeahead]="categories" typeaheadOptionField="value" (typeaheadOnSelect)="markCategorySelected(customCategorySelected)"
                            class="form-control">
                    </div>
                    <div class="boxes" *ngFor="let category of categories; let i = index">
                        <input type="checkbox" id="category{{i+1}}" name="category{{i+1}}" [(ngModel)]="category.isSelected" />
                        <label for="category{{i+1}}">{{category.value}}</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div id="ques-area">
        <div id="all-quizzes">
            <figure>
                <img src="../../assets/images/folder.png" alt="Folder image">
            </figure>
            <p>All Quizzes</p>
        </div>
        <div>
            <table>
                <tr>
                    <th width="60%" class="title">Title</th>
                    <th width="8%">Type</th>
                    <th width="8%">Preview</th>
                    <th width="8%">Select</th>
                    <th width="15%">Difficulty</th>
                </tr>
                <tr *ngFor="let question of questions; let i = index">
                    <td width="60%" class="title">{{question.questionDesc}}
                        <div *ngIf="question.isImported" class="importedQues" popover="This question is already imported." triggers="mouseenter:mouseleave"
                            placement="top"></div>
                    </td>
                    <td width="8%">
                        <figure class="type"><img [src]="getIconBasedOnQuesType(question.questionType)" style="width:65%;"></figure>
                    </td>
                    <td width="8%">
                        <figure class="preview"><img src="../../assets/images/imp-preview.png" (click)="showQuesPreviewModel(question)"></figure>
                    </td>
                    <td width="8%">
                        <div class="boxes">
                            <div class="box-margin">
                                <input type="checkbox" id="selectForImport{{i+1}}" name="selectForImport{{i+1}}" [(ngModel)]="question.selectForImport" [disabled]="question.isImported" (click)="question.selectForImport = !question.selectForImport; addQuestionsToImport()"
                                />
                                <label for="selectForImport{{i+1}}"></label>
                            </div>
                        </div>

                    </td>
                    <td width="15%">
                        <div [ngClass]="{ 'medium-difficulty': question.difficulty === 'Medium', 'easy-difficulty': question.difficulty === 'Easy', 'hard-difficulty': question.difficulty === 'Hard'}"
                            popover="{{question.difficulty}}" triggers="mouseenter:mouseleave" placement="top"></div>
                    </td>

                    <!-- preview modal part starts-->
                    <div class="modal fade" bsModal #questionPreview="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" (click)="questionPreview.hide()">&times;</button>
                                    <h4 class="modal-title">Question preview</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="group">
                                        <input type="textarea" placeholder="Question" name="trueFalse" [(ngModel)]="questionModal.questionDesc" disabled>
                                    </div>
                                    <div *ngFor="let option of questionModal.answer; let i = index" class="group group-1">
                                        <input type="text" placeholder="True" name="answer{{i+1}}" disabled [(ngModel)]="option.description" />
                                        <div class="options">
                                            <label title="">
									        <input type="checkbox" class="option-input radio" name="option{{i+1}}" (click)="selectOnlyOneOption(i)" [(ngModel)]="option.isCorrect" disabled/>								
					            			</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info" (click)="questionPreview.hide()">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--preview modal part end-->
                </tr>

            </table>
        </div>

        <div class="col-md-10 footer-pagination">
            <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"
                [rotate]="false" (numPages)="numPages = $event" itemsPerPage="{{itemsPerPage}}" (pageChanged)="pageChanged($event)"></pagination>

        </div>
        <div class="col-md-2" id="import-button"><button type="button" class="btn btn-info" (click)="importQuestions()">Import</button></div>
    </div>



</section>