@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);
body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
#main{
    width: 100%;
    background-color: #ecf0f1;
}
header{
	width: 100%;
	background-color: #0b152d;
	padding: 8px 0px;
}
header figure{
	padding: 0px 0px 0px 35px;
}
#logo{
	width: 70%;
}
#logo img{
	width: 85px;
}
header nav{
	width: 29%;
}
#ques-dashboard{
	width: 100%;
	padding: 23px 5px 10px 5px;
}
#ques-dashboard #dasboard-menu,#ques-dashboard #question-area{
	display: inline-block;
}
#dasboard-menu{
/*	background-color: #48a5ea;*/
	width: 25%;
	min-height: 517px;
    height: 517px;
    overflow-y: auto;
	border-radius: 3px;
	background: url("../../assets/images/menu.png");
  background-repeat: no-repeat;
}
#question-area{
	width: 74%;
	min-height: 517px;
    height: 517px;
    overflow-y: auto;
	background-color: #ffffff;
	border-radius: 3px;
	vertical-align: top;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
#dasboard-menu figure{
	width: 74%;
    text-align: center;
    margin: 0px 0px 0px 75px;
}
#dasboard-menu figure p{
	    color: white;
    font-size: 135%;
    font-weight: bold;
    position: relative;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    top: 35px;
}
#dasboard-menu figure img{
	width: 56%;
}
#questions{
	width: 81%;
    background-color: #223460;
    height: 40px;
    margin: 75px 0px 0px 60px;
}
#questions p{
	color: white;
    text-align: center;
    font-size: 190%;
    text-shadow: 4px 4px 4px black;
    font-weight: 600;
    padding-top: 2px;
    font-family: monospace;
    font-style: italic;
}
#hr-questions{
	width: 81%;
    background-color: #223460;
    height: 22px;
    border: none;
    margin-left: 60px;
}
#questions-area{
	text-align: center;
    width: 76%;
    margin-left: 24%;
    margin-top: 15px;
}
#questions-row{
	margin-top: 15px;
    margin-left: 73px;
    text-align: left;
}
.circle{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3%;
     background: #108fe8;
     
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #0d72b8 inset, 0 5px 5px rgba(3, 25, 41, 0.17), 0 15px rgba(255, 255, 255, 0.25) inset;
    display: inline-block;
    cursor: pointer;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
}
.circle:hover {
  background: #223460;
  box-shadow: 0 -2px 0 3px #1a1a1a inset, 0 5px 5px rgba(0, 0, 0, 0.17), 0 15px rgba(255, 255, 255, 0.32) inset;
}
.active{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3%;
    background-color: #0b152d;
    display: inline-block;
    border: 2px solid #71e2ef;
    cursor: pointer;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
	
}

.markforReview{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFA500;
    display: inline-block;
        border: 2px solid #71e2ef;
        cursor: pointer;
	
}

.quesSelected{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: 	#00b300;
    display: inline-block;
        border: 2px solid #71e2ef;
        cursor: pointer;
	
}

.circle p{
	color: white;
	font-size: 110%;
	position: relative;
    top: 10px;
}
#quiz-title{
	width: 100%;
	margin-bottom: 8px;
}
#quiz-title p{
	width: 93%;
	color: #005692;
    font-size: 150%;
    text-align: center;
    margin: 8px 0px;
}
#quiz-title p,#quiz-title img{
	display: inline-block;
	vertical-align: top;
}
#quiz-title img{
	float: right;
	width: 5.5%;
}
#question-bar{
	    width: 100%;
    background-color: #223460;
    padding: 10px 35px;
    color: #fff;
    font-size: 110%;
}
#current-ques{
	width: 100%;
	background-color: #fff;
	min-height: 417px;
}
#current-ques #question-image,#current-ques #question-part #question-part-simple,#current-ques #question-image-fourty,#current-ques #question-part-sixty{ 
	display: inline-block;
	vertical-align: top;
}
#question-image{
	width: 55%;
	margin-left: 4%;
    margin-top: 15px;
}
#select-following{
    color: #0d72b8;
	font-size: 105%;
	margin: 10px 45px 0px;
}
#question-image img{
	width: 100%;
    height: 500px;
}

#question-part-simple{
	margin: 0px 0px 15px 44px;
    padding-top: 10px;
    width: 90%;
    word-wrap: break-word;
}

#question-part-simple p{
	font-size: 120%;
	color: #1b3b62;
}

#question-part{
	margin: 75px 15px;
    width: 37%;
    word-wrap: break-word;
    
}
#question-part p{
	font-size: 120%;
	color: #1b3b62;
}
.answer-list {
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    list-style-type: none; 
    display: block;
    padding: 0px 45px;
    vertical-align: middle;
}
.answer-list li{
	padding: 0;
    white-space: normal;
}
.answer-checkbox{
	    visibility: hidden;
	    display: table-cell;
    vertical-align: middle;
}
.answer-content.selected {
	background-color: #48a5ea !important;
	transition: background-color .5s;
    color: #fff;
}
.answer-content{
	    font-size: 16px;
    margin: 0;
    width: 100%;
    white-space: normal;
}
.list-btn {
    text-align: left;
    color: #071018;
    padding: 10px;
    max-height: 50%;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    border: 1px solid #5bc0de;
    background-color: white;
    border-radius: 3px;
}
.btn-info{
	    margin: 0px 15px;
}
#quiz-action-button{
	    width: 92%;
    float: right;
    text-align: right;
    margin: 10px 35px;
}

.ansSelected{
    background-color: #48a5ea !important;
    color: white !important;
    transition: background-color .5s;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.timerBackground{
 background: url("../../assets/images/clock.png");   
 width: 100px;
 height: 22px;
 background-size: 150px 25px;
}


/*image question css*/


#current-ques #question-image,#current-ques #question-part{
	display: inline-block;
	vertical-align: top;
}
#select-following{
	color: #005792;
	font-size: 105%;
	margin: 10px 45px 0px;
}
.answer-list {
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    list-style-type: none; 
    display: block;
    padding: 0px 45px;
    vertical-align: middle;
}
.answer-list li{
	padding: 0;
    white-space: normal;
}
.answer-checkbox{
	    visibility: hidden;
	    display: table-cell;
    vertical-align: middle;
}
.answer-content{
	    font-size: 16px;
    margin: 0;
    width: 100%;
    white-space: normal;
}

.btn-info{
	    margin: 0px 15px;
}
#quiz-action-button{
	    width: 92%;
    float: right;
    text-align: right;
    margin: 10px 35px;
}




.image-answer-list {
    padding: 0px;
    overflow: hidden;
    background-color: #fff;
    list-style-type: none; 
    display: block;
    padding: 0px 45px;
    vertical-align: middle;
    width: 49%;
}
.image-answer-list li{
	padding: 0;
    white-space: normal;
}
.image-answer-checkbox{
	    visibility: hidden;
	    display: table-cell;
    vertical-align: middle;
}
.image-question-performe-answer{

}
.image-answer-content{
	    font-size: 16px;
    margin: 0;
    width: 100%;
    white-space: normal;
}
.image-list-btn {
    text-align: left;
    color: #071018;
    padding: 10px;
    max-height: 50%;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #5bc0de;
    border-radius: 3px;
}
#current-ques .image-answer-list,#current-ques .two{
	display: inline-block;
	vertical-align: top;
}

.image-type-question{
	width: 45%;
}
.image-type-question img{
	width: 100%;
	height: 105px;
}
.question-options{
	    width: 44%;
    margin: 0px 15px;
    padding-top: 30px;
}
.image-answer-content .image-type-question , .image-answer-content .question-options{
	display: inline-block;
	vertical-align: top;
}



 .innerCircle{
        width: 112px;
    height: 112px;
    background-color: #0b152d;
    border: 6px solid white;
    border-radius: 75px;
    position: relative;
    left: 57px;
    top: 33px;
    box-shadow: 0 0 0 2px rgb(27, 111, 173),
     0 0 7px 2px rgb(34, 52, 96),
     inset 0 0 0 3px rgb(59, 144, 241);
} 
.hand{
    background-color: #316198;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: absolute;
    z-index: -1;
}
.hand-1{
    background-color: #c0392b;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: absolute;
    z-index: -1;
}
.small{
    width: 7px;
    height: 8px;
    position: absolute;
    bottom: 14px;
    left: 17px;
}
.seconds{
    width: 113px;
    height: 113px;
    border-radius: 200px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: orbit;
    -moz-animation-duration: 10s;
    position: absolute;
    top: 109px;
    left: 136px;
}
@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } 
}
@-moz-keyframes orbit { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(360deg) } 
}
.medium{
    width: 12px;
    height: 8px;
    position: absolute;
    bottom: 14px;
    left: 13px;
}
.minutes{
    width: 112px;
    height: 113px;
    border-radius: 200px;
    margin: 15px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: orbit;
    -moz-animation-duration: 60s;
    position: absolute;
    top: 94px;
    left: 122px;
} 

#hrz-question-part{
    margin: 0px 0px 15px 44px;
    width: 90%;
    padding-top: 10px;
    word-wrap: break-word;
}
#hrz-question-part p{
        font-size: 120%;
    color: #1b3b62;
}
#hrz-question-image{
	width: 90%;
	margin-left: 5%;
    margin-top: 15px;
}
#hrz-question-image img{
	width: 83%;
    height: 420px;
}
#question-image-fourty{
	width: 40%;
	margin-left: 4%;
    margin-top: 15px;
}
#question-image-fourty img{
	width: 100%;
    height: 500px;
}
#question-part-sixty{
	margin: 75px 15px;
    width: 52%;
    word-wrap: break-word;
    
}
#question-part-sixty p{
	font-size: 120%;
	color: #1b3b62;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
   .col-sm-3{
       width: 100%;
   }
}