<section id="ques-body">
				<div id="ques-filter">
					<div id="filters-p">
						<p>Filters</p>
					</div>

					<div class="checkbox-area">
						<p class="heading-p">-Title</p>
						<input type="text" name="title" class="form-control title-input">

					</div>
					<div class="checkbox-area">
						<p class="heading-p">-Marks</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isMarksCollapsed}" (click)="isMarksCollapsed = !isMarksCollapsed"></span></figure>
                        <div [collapse]="isMarksCollapsed" class="card card-block card-header">
                            <div class="range-section">
                                <span class="multi-range">
                                    <input type="range" [(ngModel)]="minMarks" name="minMarks" min="1" max="50" step="1" value="1" id="lower" required>
                                    <input type="range" [(ngModel)]="maxMarks" name="maxMarks" min="3" max="50" step="1" value="45" id="upper" required>
                                </span><br><br>
                                <div id="min-max">
                                    <input type="number" [(ngModel)]="minMarks" name="min" class="form-control" min="1" max="50" step="1" value="1" id="min">
                                    <p>to</p>
                                    <input type="number" [(ngModel)]="maxMarks" name="min" class="form-control" min="3" max="50" step="1" value="45" id="min">
                                </div>
                            </div>
                        </div>
					</div>

					<div class="checkbox-area">
						<p class="heading-p">-Subject</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isSubjectCollapsed}" (click)="isSubjectCollapsed = !isSubjectCollapsed"></span></figure>
                        <div [collapse]="isSubjectCollapsed" class="card card-block card-header">
                            <div class="boxes">
                                <input type="checkbox" id="maths" checked>
                                <label for="maths">Maths</label>

                                <input type="checkbox" id="science">
                                <label for="science">Science </label>

                                <input type="checkbox" id="english">
                                <label for="english">English</label>
                            </div>
                        </div>
					</div>
				</div>
				<div id="ques-area">
					<div id="all-quizzes">
						<figure>
							<img src="../../assets/images/folder.png" alt="Folder image">
						</figure>
						<p>All Questionnarie</p>
						<button type="button" class="btn btn-info">
      						<span class="glyphicon glyphicon-paste"></span> Create a Exam
   						</button>
					</div>
					<div>
						<table>
							  <tr>
							    <th width="39%" class="title">Title</th>
							    <th width="10%">Preview</th>
							    <th width="10%">Questions</th>
							    <th width="10%">Marks</th>
							    <th width="10%">Duration</th>
							    <th width="10%" class="green">Create<br>Exam</th>
							    <th width="10%" class="green">Exams<br>Done</th>
							  </tr>
							  <tr>
							    <td width="39%" class="title">Quiz........<br><span class="option-h"><a href="#">Edit </a>|<a href="#"> Copy</a></span></td>
							    <td width="10%"><figure class="preview"><img src="../../assets/images/imp-preview.png"></figure></td>
							    <td width="10%">40</td>
							    <td width="10%">150</td>
							    <td width="10%">90</td>
							    <td width="10%"><figure class="type"><img src="../../assets/images/create-exam.png"></figure></td>
							    <td width="10%" class="green">4</td>
							  </tr>
							  <tr>
							    <td class="title">Quiz....<br><span class="option-h"><a href="#">Edit </a>|<a href="#"> Copy</a></span></td>
							    <td><figure class="preview"><img src="../../assets/images/imp-preview.png"></figure></td>
							    <td>25</td>
							    <td>90</td>
							    <td>30</td>
							    <td><figure class="type"><img src="../../assets/images/create-exam.png"></figure></td>
							    <td class="green">1</td>
							  </tr>
							  <tr>
							    <td class="title">Unit Test<br><span class="option-h"><a href="#">Edit </a>|<a href="#"> Copy</a></span></td>
							    <td><figure class="preview"><img src="../../assets/images/imp-preview.png"></figure></td>
							    <td>30</td>
							    <td>100</td>
							    <td>60</td>
							    <td><figure class="type"><img src="../../assets/images/create-exam.png"></figure></td>
							    <td class="green">2</td>
							  </tr>
							  <tr>
							    <td class="title">Quiz<br><span class="option-h"><a href="#">Edit </a>|<a href="#"> Copy</a></span></td>
							    <td><figure class="preview"><img src="../../assets/images/imp-preview.png"></figure></td>
							    <td>35</td>
							    <td>120</td>
							    <td>70</td>
							    <td><figure class="type"><img src="../../assets/images/create-exam.png"></figure></td>
							    <td class="green">0</td>
							  </tr>
						</table>
					</div>
				</div>
			</section>