body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
.btn{
	vertical-align: top !important;
	margin-top: 3px;
	margin-left: 8%;
	padding: 6px 20px !important;
}
#ques-body{
	width: 100%;
	background-color: #ecf0f1;
	padding-bottom: 1%;
}
#ques-nav{
    width: 100%;
    padding: 10px 0px;
    padding-right: 2%;
    text-align: right;
}
#ques-nav ul{
	list-style-type: none;
	font-size: 16px;

}
#ques-nav ul li{
	display: inline;
	padding: 0px 12px;
}
#ques-nav a{
	text-decoration: none;
	color: #48a5ea;
}
#ques-nav ul li a img{
	width: 30px;
}
#ques-dashboard{
	width: 100%;
	padding: 0px 1%;
	/*padding: 0px 15px 0px 66px;*/
}
#ques-dashboard #dasboard-menu,#ques-dashboard #question-area{
	display: inline-block;
}
#dasboard-menu{
/*	background-color: #48a5ea;
	width: 26%;*/
	width: 322px;
	height: 490px;
	border-radius: 3px;
	background: url("../../assets/images/menu.png");
  background-repeat: no-repeat;

}
#ques-lists{
	width: 81%;
    margin-left: 60px;
	height: 60%;
}
#question-area{
	width: 72%;
	height: 490px;
	background-color: #ffffff;
	border-radius: 3px;
	vertical-align: top;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.shape-icon{
    width: 65px;
    height: 24px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
#insert-ques{
	width: 74%;
    text-align: center;
    /* padding-left: 57px; */
    margin-top: 30px;
    margin-left: 25%;
    cursor: pointer;
}
#insert-ques img{
	width: 82px;
}
#insert-ques p{
	color: white;
    font-size: 120%;
    font-weight: bold;
    line-height: 30px;
}
.insert-button{
	margin-top: 5px;
	border: none;
    background-color: none;
    background: none;
    color: white;
    font-size: 110%;
    font-weight: bold;
}
.modal-content{
	position: relative;
	top: 80px !important;
	left: 18px !important;
}
.modal-body {
    position: relative;
    padding: 15px 0px 20px 12px !important;
}
.modal-title {
    color: #fff;
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
}
.modal-header {
    padding: 15px;
    background-color: #48a5ea; 
    border-radius: 4px;
    border-bottom: 1px solid #ecf0f1 !important;
}
.modal-footer {
	border-top: 1px solid #ecf0f1 !important;
}
.modal-body img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#ques-lists table {
    border-collapse: collapse;
    width: 100%;
    /*margin-left: 30px;*/
    margin-top: 30px;
}
#ques-lists tr{
	background-color: #223560;
	color: #ffffff;
	border-bottom: 2px solid #48a5ea;
	cursor: pointer;
}
#ques-lists td {
    text-align: center;
    padding: 8px;

}
#ques-lists tr:hover{
background-color: #5cb85c;
}
.activeQues tr{
background-color: #ff3300;
}

#ques-title{
	width: 100%;
    background-color: #223460;
    margin-top: 4px;
    padding: 5px;
    border-bottom: 3px solid #48a5ea;
}
#cateory{
    width: 100%;
    background-color: #ecf0f1;
    padding: 8px 27px;
}
#cateory #tagging , #cateory #section , #cateory #subject-diff{
    display: inline-block;
    vertical-align: top;
}
#subject-diff label , #subject-diff #exampleSelect1{
    display: inline-block;
}
#subject-diff label , #tagging label , #section label{
        color: #48a5ea;
} 
#exampleSelect1{
    width: 75%;
}
#section label , #section input{
    display: inline-block;
}
#tagging label , #tagging input{
    display: inline-block;
}
#tagging-input{
    width: 75%;
}
#tagging , #section , #subject-diff{
    width: 33%;
}

#ques-title #quest-p,#ques-title p{
	display: inline-block;	
}
#quest-p{
	width: 83%;
	color: #eef6fc;
    font-size: 130%;
    font-weight: 600;
    padding-left: 20px;
    margin: 0 0 8px !important;
}
#ques-title a{
	padding-left: 25px;
}

.group { 
	position: relative; 
	margin-bottom: 5px; 
}

.group input {
	font-size: 17px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	color: #141414;
	width: 83%;
    margin-left: 55px;
    margin-top: 13px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #2aade3;
}
.group input :: focus{
	border: none;
	outline: none;
	border-color: w
}
input:focus{
	border: none;
	outline: none;
	border-bottom: 1px solid #2aade3;
}
.input-img{
	height:auto;   
	position: relative;
    left: -30px;
}
.input-img img{
	width:25px;
}
.group input: focus{
	border: none;
}
.group input,.group span,.group .options{
	display: inline-block;
}
.group-1 input,.group-1 span{
	display: inline-block;
	    float: left;
    margin-top: 30px;
}
.group-1{
	position: relative; 
	margin-bottom: 0px;
}
.group-1 input{
	font-size: 14px;
	padding: 10px 10px 5px 5px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	color: #141414;
	width: 73%;
    margin-left: 55px;
    margin-top: 20px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #2aade3;
}

.options{
	    position: relative;
    top: -10px;
}

div.options > label {
	display: block;
	margin: 0 0 0 5px;
	padding: 0 0 20px 0;  
	height: 20px;
	width: 150px;
}



#save-button{
    margin-top: 31px;
    width: 100%;
    text-align: center;
    padding-left: 475px;
}
.btn-info{
	 background: #38a2e8;
    color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-info:hover{
	background: #178ab4;
	
}
.form button:disabled{
    cursor: not-allowed;
  }
/*styles for radio and check box*/
*{font-family: 'Roboto', sans-serif;}

@keyframes click-wave {
  0% {
    height: 33px;
    width: 33px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 170px;
    width: 170px;
    margin-left: -70px;
    margin-top: -70px;
    opacity: 0;
  }
}

.group-1 .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 33px;
  width: 33px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 10;
}
.group-1 .option-input:hover {
  background: #9faab7;
}
.group-1 .option-input:checked {
  background: #5cb85c;
}
.group-1 .option-input:checked::before {
  height: 33px;
  width: 33px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 10px;
  padding-right: 14px;
}
.group-1 .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #5cb85c;
  content: '';
  display: block;
  position: relative;
  z-index: 10;
}
.group-1 .option-input.radio {
  border-radius: 50%;
  border: 2px solid #2aade3;
}
.group-1 .option-input.radio::after {
  border-radius: 50%;
}


.scrollbar
{
	width: 100%;
    /* margin-left: 30px; */
    float: right;
    height: 100%;
    background: transparent;
    overflow-y: auto;
    margin-bottom: 25px;
    /* padding-right: 30px; */
}


#style-8::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.radio-button-margin{
    margin-left: 20px;
}

.icon{
   
    width: 82px;
    height: 82px;
    background: url(../../assets/images/insert-q-icon.png) no-repeat;
    background-size: 82px 82px;
    margin: auto; 
    top: -11px;
    left: -843px;
    bottom: 0; right: 0;
    z-index: 3;

    -webkit-box-shadow: 
     0 0 0 2px rgba(255,255,255,.2), 
    0 0 6px 1px rgba(0,0,0,.4), 
    inset 0 0 0 3px rgba(72, 165, 234, 0.4);
    -moz-box-shadow: 
    0 0 0 2px rgba(255,255,255,.2), 
    0 0 6px 1px rgba(0,0,0,.4), 
    inset 0 0 0 3px rgba(72, 165, 234, 0.4);
    box-shadow:
     0 0 0 2px rgba(255,255,255,.2), 
    0 0 6px 1px rgba(0,0,0,.4), 
    inset 0 0 0 3px rgba(72, 165, 234, 0.4);
  
    -webkit-border-radius: 999px; 
    -moz-border-radius: 999px;
    border-radius: 999px;   
}

.pulse1 {
   
    width: 82px;
    height: 82px;
    margin: auto; 
    top: -11px;
    left: -843px;
    bottom: 0; right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255,255,255,.1);
  
    -webkit-animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    animation: pulsejg1 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse2 {
    
    width: 82px;
    height: 82px;
    margin: auto; 
    top: -11px;
    left: -843px;
    bottom: 0; right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid rgba(255,255,255,0);
  
    -webkit-animation: pulsejg2 4s linear infinite;
    -moz-animation: pulsejg2 4s linear infinite;
    animation: pulsejg2 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -webkit-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -moz-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -moz-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -moz-transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: .1;
    }

    70% {
        transform: scale(1.1);
        opacity: .25;
    }

    80% {
        transform: scale(1.25);
        opacity: .1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .1;
    }

    60% {
        transform: scale(1.1);
        opacity: .3;
    }

    80% {
        transform: scale(1.2);
        opacity: .1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}



@media screen and (max-width:1203px){
	#main{

	min-width: 1203px;	
}
}