<section id="main">
			<div id="bg-image">
				<div>
				<div id="head-title">
					<p>Get started by selecting a product</p>
				</div>
					<figure id="image-container">
						<img src="../../assets/images/questionnarie-image.png" usemap="#html"/>
                    <map name="html">
					<!-- manage questionnarie -->
					<area shape="circle" 
					coords="124,183,47" alt="Add candidate" href="#/qnr/manage" target="_self" />
					<!-- Manage questions -->
					<area shape="circle" 
					coords="297,183,47" alt="Manage candidates" href="#/ques/manage" target="_self" />
					</map>
					</figure>
					
				</div>
			</div>
		</section>