<body>
    <section id="main">

        <div id="ques-dashboard">
            <div id="dasboard-menu">
                <figure>
                     <!-- <div class="timerBackground"> -->
                    <div class="innerCircle">
                        <p id="time">Time</p>
                    </div>
                    <div class="seconds">
                        <div class="hand small"></div>
                    </div>
                    <div class="minutes">
                        <div class="hand-1 medium"></div>
                    </div>
  
                </figure>
                <div id="questions">
                    <p>Quick Access</p>
                </div>

                <div id="questions-row" *ngFor="let main of mainArray; let ind = index">
                    <div class="circle" [ngClass]="{ 'active': inner == currentQuesNo, 'markforReview': questions[inner-1].questionStatus ==='M', 'quesSelected': (questions[inner-1].questionStatus ==='A')}"
                        *ngFor="let inner of main; let innrInd = index" (click)="selectQuestion(inner)">
                        <p>{{inner}}</p>
                    </div>

                </div>
                <hr id="hr-questions">
            </div>
            <div id="question-area">
                <!--    <div id="quiz-title">
                    <p>Quiz Name</p>
                    <img src="../../assets/images/question-layout-pattern.png">
                </div>-->
                <div id="question-bar">
                    <p>Question {{currentQuesNo}} of {{questions.length}}</p>
                </div>
                <div id="current-ques">
                    <div *ngIf="!currentQuestion.imageURL">
                        <div id="question-image">

                        </div>
                        <div id="question-part-simple">
                            <p>{{currentQuestion.questionDesc}}</p>
                        </div>
                    </div>
                    <div *ngIf="currentQuestion.imageURL">
                        <div id="question-image">
                            <img src="{{currentQuestion.imagePath}}">

                        </div>
                        <div id="question-part">
                            <p>{{currentQuestion.questionDesc}}</p>
                        </div>
                    </div>
                    <div id="select-following">
                        <p>Select one of the following:</p>
                    </div>
                    <div *ngIf="!currentQuestion.imageAnsView">
                        <ul class="answer-list">
                            <li class="quiz-answer" *ngFor="let answer of currentQuestion.answer; let i = index">
                                <div class="question-performe-answer">
                                    <input type="checkbox" name="answer" class="answer-checkbox" value="1">
                                </div>
                                <div class="answer-content btn" [ngClass]="{'ansSelected': answer.isSelected}" (click)="attmptedQuestion(i)">
                                    <p>{{answer.description}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="currentQuestion.imageAnsView">
                        <ul *ngFor="let innerAnsList of MainOptionArray" class="image-answer-list">
                            <li *ngFor="let ans of innerAnsList" class="image-quiz-answer">
                                <div class="image-question-performe-answer">
                                    <input type="checkbox" name="answer" class="image-answer-checkbox" value="1">
                                </div>
                                <div class="image-answer-content btn selected">
                                    <div class="image-type-question">
                                        <img src="{{ans.imagePath}}">
                                    </div>
                                    <div class="question-options">
                                        <p>{{ans.description}}</p>
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="quiz-action-button">
                    <button type="button" class="btn btn-info" [disabled]="currentIndex==0" (click)="moveToPreviousQuestion()">Previous</button>
                    <button *ngIf="currentQuestion.questionStatus!=='M'" type="button" class="btn btn-warning" (click)="markForReview()">Mark for Review</button>
                    <button *ngIf="currentQuestion.questionStatus==='M'" type="button" class="btn btn-primary" (click)="unmarkForReview()">Unmark for Review</button>
                    <button type="button" class="btn btn-info" (click)="moveToNextQuestion()" [disabled]="currentQuesNo == questions.length">Next</button>
                </div>
            </div>




        </div>
    </section>
</body>