<section id="ques-body">
    <div id="ques-filter">
        <div id="filters-p">
            <div>
                <p>Filters</p>
                <button type="button" class="btn btn-info">Apply Filter</button>
            </div>

        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Difficulty level</p>

            <figure><span class="glyphicon glyphicon-plus" [ngClass]= "{'glyphicon-minus':!isDifficultyCollapsed}" (click)="isDifficultyCollapsed = !isDifficultyCollapsed"></span></figure>
            <div [collapse]="isDifficultyCollapsed" class="card card-block card-header">
                <div class="boxes">
                    <input type="checkbox" id="easy">
                    <label for="easy">Easy</label>

                    <input type="checkbox" id="medium" checked>
                    <label for="medium">Medium </label>

                    <input type="checkbox" id="hard">
                    <label for="hard">Hard</label>
                </div>
            </div>
        </div>
        <div class="checkbox-area">
            <p class="heading-p">-Section</p>


            <figure><span class="glyphicon glyphicon-plus" [ngClass]= "{'glyphicon-minus':!isSectionCollapsed}" (click)="isSectionCollapsed = !isSectionCollapsed"></span></figure>
            <div [collapse]="isSectionCollapsed" class="card card-block card-header">

                <div class="boxes">
                    <div id="type-ahead">
                        <input [(ngModel)]="customSelected" [typeahead]="sections" typeaheadOptionField="value" (typeaheadOnSelect)="markSelected()"
                            class="form-control">
                    </div>
                    <input type="checkbox" id="maths" checked>
                    <label for="maths">Maths</label>

                    <input type="checkbox" id="science">
                    <label for="science">Science </label>

                    <input type="checkbox" id="english">
                    <label for="english">English</label>

                </div>

            </div>
        </div>
                <div class="checkbox-area">
                    <p class="heading-p">-Tagging</p>

            <figure><span class="glyphicon glyphicon-plus" [ngClass]= "{'glyphicon-minus':!isCategoryCollapsed}" (click)="isCategoryCollapsed = !isCategoryCollapsed"></span></figure>
            <div [collapse]="isCategoryCollapsed" class="card card-block card-header">

                        <div class="boxes">
                            <div id="type-ahead">
                                <input [(ngModel)]="customSelected" [typeahead]="tags" typeaheadOptionField="value" (typeaheadOnSelect)="markSelected()"
                                    class="form-control">
                            </div>
                            <input type="checkbox" id="cbse" checked>
                            <label for="cbse">CBSE</label>


                            <input type="checkbox" id="hbse">
                            <label for="hbse">HBSE </label>
                        </div>
            </div>
        </div>

    </div>
    <div id="ques-area">
        <div id="all-quizzes">
            <figure>
                <img src="../../assets/images/folder.png" alt="Folder image">
            </figure>
            <p>All Quizzes</p>
        </div>
        <div>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Preview</th>
                    <th>Select</th>
                </tr>
                <tr>
                    <td>Quiz........</td>
                    <td>
                        <figure class="type"><img src="../../assets/images/imp-mul-choice-m.png"></figure>
                    </td>
                    <td>
                        <figure class="preview"><img src="../../assets/images/imp-preview.png"></figure>
                    </td>
                    <td>.........</td>
                </tr>
                <tr>
                    <td>Quiz Test for class 10th</td>
                    <td>
                        <figure class="type"><img src="../../assets/images/imp-mul-choice-m.png"></figure>
                    </td>
                    <td>
                        <figure class="preview"><img src="../../assets/images/imp-preview.png"></figure>
                    </td>
                    <td>.........</td>
                </tr>
                <tr>
                    <td>Unit Test</td>
                    <td>
                        <figure class="type"><img src="../../assets/images/imp-mul-choice-m.png"></figure>
                    </td>
                    <td>
                        <figure class="preview"><img src="../../assets/images/imp-preview.png"></figure>
                    </td>
                    <td>.........</td>
                </tr>
                <tr>
                    <td>Quiz........</td>
                    <td>
                        <figure class="type"><img src="../../assets/images/imp-mul-choice-m.png"></figure>
                    </td>
                    <td>
                        <figure class="preview"><img src="../../assets/images/imp-preview.png"></figure>
                    </td>
                    <td>.........</td>
                </tr>
            </table>
        </div>
        <div id="import-button">
            <button type="button" class="btn btn-info" (click)="redirectQuestionScreen()">Import</button>
        </div>
    </div>

</section>