body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
.btn{
	vertical-align: top !important;
	/* margin-top: 3px; */
	margin-left: 3%;
	padding: 6px 20px !important;
}
.cancel-btn{
       color: #5bc0de !important;
    background-color: transparent !important;
    border-color: #5bc0de !important;
}
#ques-body{
	width: 100%;
	background-color: #ecf0f1;
	padding-bottom: 1%;
}
#ques-nav{
    width: 100%;
    padding: 5px 0px;
    padding-right: 2%;
    text-align: right;
}
#ques-nav ul{
	list-style-type: none;
	font-size: 16px;

}
#ques-nav ul li{
	display: inline;
	padding: 0px 12px;
}
#ques-nav a{
	text-decoration: none;
	color: #48a5ea;
}
#ques-nav ul li a img{
	width: 30px;
}
#finalize{
    margin-left: 0px;
    margin-top: 0px;
        padding: 5px 10px !important;
}
.finalize-p{
    text-align: center;
    color: #48a5ea;
    font-size: 21px;
    font-weight: bold;
}
#finalize-img{
    text-align: center;
}
#finalize-body-clr{
    background-color: #f7fbff;
}
#finalize-img img{
    width: 102px;
}
#y-n-btn{
    margin-left: 5%;
    padding: 5px 12px !important;
}
.finalize-btn{
    text-align: center;
    padding: 10px 0px;
}
.glyphicon-ok , .glyphicon-remove{
    font-size: 12px;
}
#ques-dashboard{
	width: 100%;
	padding: 0px 1%;
	/*padding: 0px 15px 0px 66px;*/
}
#ques-dashboard #dasboard-menu,#ques-dashboard #question-area{
	display: inline-block;
}
#dasboard-menu{
/*	background-color: #48a5ea;
	width: 26%;*/
	width: 322px;
    min-height: 505px;
	height: 505px;
	background: url("../../assets/images/menu.png");
  background-repeat: no-repeat;

}
#ques-lists{
	width: 81%;
    margin-left: 60px;
	height: 60%;
}
#question-area{
	width: 72%;
	min-height: 505px;
    height: 505px;
    overflow-y: auto;
	background-color: #ffffff;
	border-radius: 3px;
	vertical-align: top;
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 0 15px rgb(72, 165, 234);
}
.shape-icon{
    width: 65px;
    height: 24px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
#insert-ques{
	width: 74%;
    text-align: center;
    /* padding-left: 57px; */
    margin-top: 30px;
    margin-left: 25%;
    cursor: pointer;
}
#insert-ques img{
	width: 82px;
}
#insert-ques p{
	color: white;
    font-size: 120%;
    font-weight: bold;
    line-height: 30px;
}
.insert-button{
	margin-top: 5px;
	border: none;
    background-color: none;
    background: none;
    color: white;
    font-size: 110%;
    font-weight: bold;
}
.modal-insert{
	position: relative;
	top: 68px !important;
	left: -2px !important;
}
.modal-body {
    position: relative;
    padding: 15px 0px 15px 0px !important;
}
.modal-title {
    color: #fff;
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
}
.modal-header {
    padding: 15px;
    background-color: #48a5ea; 
    border-radius: 4px;
    border-bottom: 1px solid #ecf0f1 !important;
}
.modal-footer {
	border-top: 1px solid #ecf0f1 !important;
}
.insert-btn img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#ques-lists table {
    border-collapse: collapse;
    width: 100%;
    /*margin-left: 30px;*/
    margin-top: 30px;
}
#ques-lists tr{
	background-color: #223560;
	color: #ffffff;
	/*border-bottom: 2px solid #48a5ea;*/
	cursor: pointer;
}
#ques-lists td {
    text-align: center;
    padding: 8px;

}
#ques-lists tr:hover{
background-color: #5cb85c;
}
.active-ques{
    background-color: #5cb85c !important;
}

#ques-title{
	width: 100%;
    background-color: #223460;
    margin-top: 2px;
    padding: 3px;
    border-bottom: 2px solid #48a5ea;
}
#cateory{
    width: 100%;
    background-color: #ecf0f1;
    padding: 6px 27px;
}
#cateory #tagging , #cateory #section , #cateory #subject-diff{
    display: inline-block;
    vertical-align: top;
}
#subject-diff label , #subject-diff #exampleSelect1{
    display: inline-block;
}
#subject-diff label , #tagging label , #section label{
        color: #48a5ea;
} 
#exampleSelect1{
    width: 68%;
    height: 28px;
    padding: 3px 12px;
}
#section label , #section input{
    display: inline-block;
}
#tagging label , #tagging input{
    display: inline-block;
}
#tagging-input{
    width: 68%;
    height: 28px;
    padding: 3px 12px;
}
#tagging , #section , #subject-diff{
    width: 32%;
}
.glyphicon-info-sign{
    position: relative;
    left: -32px;
    top: 4px;
    font-size: 17px;
    cursor: pointer;
    color: #48a5ea;
}
.sec-plus-i{
    position: relative;
    left: -40px;
    top: 4px;
    font-size: 17px;
    cursor: pointer;
    color: #48a5ea;
}

#ques-title #quest-p,#ques-title p{
	display: inline-block;	
}
#quest-p{
	width: 83%;
	color: #eef6fc;
    font-size: 120%;
    font-weight: 600;
    padding-left: 15px;
    margin: 3px 0px 3px 10px !important;
}
#ques-title a{
	padding-left: 25px;
}

.group { 
	position: relative; 
	margin-bottom: 5px; 
}

.group input {
	font-size: 17px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	color: #141414;
	width: 83%;
    margin-left: 55px;
    margin-top: 13px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #2aade3;
}
.group input :: focus{
	border: none;
	outline: none;
	border-color: w
}
input:focus{
	border: none;
	outline: none;
	border-bottom: 1px solid #2aade3;
}
.input-img{
	height:auto;   
	position: relative;
    left: -30px;
    cursor: pointer;
}
.q-input-img{
    height:auto;   
	position: relative;
    left: 15px;
    top: -35px;
    cursor: pointer;
}
.q-view-img{
    position: relative;
    left: 10px;
    top: -35px;
    width: 40%;
    cursor: pointer;
}
.q-view-img-span{
    margin-top: 2px !important;
}

.q-view-img img{
	 position: relative;
    width:  100%;
     border: 1px solid #48a5ea;
    height: 45px;
    border-radius: 8px;
}
.view-img{
	position: relative;
    left: -61px;
    width: 7%;
    cursor: pointer;
    margin-top: 14px;
}
.view-img-span{
    margin-top: 2px !important;
}

.view-img img{
	 position: relative;
        width:  100%;
    height: 40px;
    border: 1px solid #48a5ea;
    border-radius: 8px;
}

.modal-view-img img{
	position: relative;
    width: 100%;
    height: 150px;
border-radius: 8px;
}

.input-img img,.q-input-img img{
	width:25px;
}
.q-input-img img{
    width:25px;
}
.group input: focus{
	border: none;
}
.group input,.group span,.group .options{
	display: inline-block;
}
.group-1 input,.group-1 span{
	display: inline-block;
	    float: left;
    margin-top: 18px;
}
.group-1{
	position: relative; 
	margin-bottom: 5px;
}
.group-1 input{
	font-size: 14px;
	padding: 5px 5px 5px 5px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	color: #141414;
	width: 73%;
    margin-left: 55px;
    margin-top: 15px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #2aade3;
}

.options{
	position: relative;
    top: -10px;
    left: -55px;
    width: 0;
}

div.options > label {
	display: block;
	margin: 0 0 0 5px;
	padding: 0 0 20px 0;  
	height: 20px;
	width: 150px;
}



#save-button{
    margin-top: 70px;
    width: 100%;
    text-align: center;
    padding-left: 430px;
    margin-bottom: 10px;
}
.btn-info{
	 background: #38a2e8;
    color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.btn-info:hover{
	background: #178ab4;
	
}
.form button:disabled{
    cursor: not-allowed;
  }
/*styles for radio and check box*/
/*{font-family: 'Roboto', sans-serif;}*/

@keyframes click-wave {
  0% {
    height: 33px;
    width: 33px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 170px;
    width: 170px;
    margin-left: -70px;
    margin-top: -70px;
    opacity: 0;
  }
}

.group-1 .option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 28px;
  width: 28px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 10;
}
.group-1 .option-input:hover {
  background: #9faab7;
}
.group-1 .option-input:checked {
  background: #5cb85c;
}
.group-1 .option-input:checked::before {
  height: 28px;
  width: 28px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 20.66667px;
  text-align: center;
  line-height: 10px;
  padding-right: 14px;
}
.group-1 .option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #5cb85c;
  content: '';
  display: block;
  position: relative;
  z-index: 10;
}
.group-1 .option-input.radio {
  border-radius: 50%;
  border: 2px solid #2aade3;
}
.group-1 .option-input.radio::after {
  border-radius: 50%;
}


.scrollbar
{
	width: 100%;
    /* margin-left: 30px; */
    float: right;
    height: 100%;
    background: transparent;
    overflow-y: auto;
    margin-bottom: 25px;
    /* padding-right: 30px; */
}


#style-8::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#style-8::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#style-8::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

.radio-button-margin{
    margin-left: 20px;
}

.icon{
   
    width: 82px;
    height: 82px;
    background: url(../../assets/images/insert-q-icon.png) no-repeat;
    background-size: 82px 82px;
    margin: auto; 
    top: -11px;
    left: -843px;
    bottom: 0; right: 0;
    z-index: 3;

    -webkit-box-shadow: 
     0 0 0 2px rgba(255,255,255,.2), 
    0 0 6px 1px rgba(0,0,0,.4), 
    inset 0 0 0 3px rgba(72, 165, 234, 0.4);
    -moz-box-shadow: 
    0 0 0 2px rgba(255,255,255,.2), 
    0 0 6px 1px rgba(0,0,0,.4), 
    inset 0 0 0 3px rgba(72, 165, 234, 0.4);
    box-shadow:
     0 0 0 2px rgba(255,255,255,.2), 
    0 0 6px 1px rgba(0,0,0,.4), 
    inset 0 0 0 3px rgba(72, 165, 234, 0.4);
  
    -webkit-border-radius: 999px; 
    -moz-border-radius: 999px;
    border-radius: 999px;   
}

.pulse1 {
   
    width: 82px;
    height: 82px;
    margin: auto; 
    top: -11px;
    left: -843px;
    bottom: 0; right: 0;
    z-index: 1;
    opacity: 0;
    border: 3px solid rgba(255,255,255,.1);
  
    -webkit-animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    animation: pulsejg1 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    box-shadow: inset 0px 0px 15px 10px rgba(0, 0, 0, .6);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.pulse2 {
    
    width: 82px;
    height: 82px;
    margin: auto; 
    top: -11px;
    left: -843px;
    bottom: 0; right: 0;
    z-index: 2;
    opacity: 0;
    border: 1px solid rgba(255,255,255,0);
  
    -webkit-animation: pulsejg2 4s linear infinite;
    -moz-animation: pulsejg2 4s linear infinite;
    animation: pulsejg2 4s linear infinite;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 12px 5px rgba(255, 255, 255, .8);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -webkit-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -webkit-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -webkit-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -webkit-transform: scale(1.4);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    50% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    60% {
        -moz-transform: scale(.9);
        opacity: .2;
    }

    70% {
        -moz-transform: scale(1.1);
        opacity: .35;
    }

    80% {
        -moz-transform: scale(1.25);
        opacity: .2;
    }

    100% {
        -moz-transform: scale(1.4);
        opacity: 0;
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    50% {
        transform: scale(.6);
        opacity: 0;
    }

    60% {
        transform: scale(.9);
        opacity: .1;
    }

    70% {
        transform: scale(1.1);
        opacity: .25;
    }

    80% {
        transform: scale(1.25);
        opacity: .1;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -webkit-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -webkit-transform: scale(1);
        opacity: .1;
    }

    60% {
        -webkit-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -webkit-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -webkit-transform: scale(1.3);
        opacity: 0;
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0;
    }

    40% {
        -moz-transform: scale(.8);
        opacity: .05;
    }

    50% {
        -moz-transform: scale(1);
        opacity: .1;
    }

    60% {
        -moz-transform: scale(1.1);
        opacity: .3;
    }

    80% {
        -moz-transform: scale(1.2);
        opacity: .1;
    }

    100% {
        -moz-transform: scale(1.3);
        opacity: 0;
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0;
    }

    40% {
        transform: scale(.8);
        opacity: .05;
    }

    50% {
        transform: scale(1);
        opacity: .1;
    }

    60% {
        transform: scale(1.1);
        opacity: .3;
    }

    80% {
        transform: scale(1.2);
        opacity: .1;
    }

    100% {
        transform: scale(1.3);
        opacity: 0;
    }
}



@media screen and (max-width:1203px){
	#main{

	min-width: 1203px;	
}
}

/*styles for upload modal*/
.my-drop-zone { 
    border: dotted 3px #48a5ea;
    height: 100px;
    width: 100%;
    display: inline-block;
}
.well {
    padding: 0px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
}
.drag-drop{
    border-top: 1px solid #48a5ea;
    border-bottom: 1px solid #48a5ea;
    padding: 6px;
    color: #48a5ea;
    cursor: pointer;
}
.row{
    margin: 5px 0px;
}
.color-p{
    color: #48a5ea;
   
}
.show-all{
    vertical-align: top;
}
.upload-icon{
    position: relative;
    top: -12px;
}
.upload-icon img{
    width: 50px;
}
.nv-file-over { 
    border: dotted 3px green; 
} 
.remove-margin{
    margin-top: 0px;
}
.progress-btn .btn , .image-preview-container .btn {
    vertical-align: top !important;
    margin: 15px 0px;
    margin-right: 15px;
    padding: 2px 5px !important;
}
.progress{
    margin-top: 15px;
    margin-bottom: 0px;
    border: 1px solid #48a5ea;
    background-color: #fff;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    color: #48a5ea;
}
tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

input[type="file"]{
    visibility: hidden;
}

.upload-table{
    max-height: 150px;
    overflow-y: auto;
}

.preview-area{
    max-height: 120px;
    overflow-y: auto;
    margin: 0px 15px;
}
.image-preview-container{
    width: 108px;
    height: 108px;
    position: relative;
    overflow: hidden;
    margin: 5px 8px 5px 5px;
    float: left;
    border-radius: 12px;
    box-shadow: 0 0 6px 0px #48a5ea;
}
.image-preview-container button{
    position: absolute;
    top: -14px;
    right: -13px;
    width: 19px;
    height: 19px;
    border-radius: 15px;
    font-size: 8px;
    line-height: 1.42;
    padding: 2px 0;
    text-align: center;
    z-index: 3;
}
.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.image-details{
    position: absolute;
    top: 0;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(255,255,255,.5);
    z-index: 2;
    opacity: 0;
}
.preview-area img{
   height: 65px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: auto;
}
/*styles for toggle button*/
.tggl-wrap {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 5px;
}
.tggl-input {
  display: none;
}
.tggl-btn {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  position: relative;
  width: 4em;
  height: 2em;
  border-radius: 1em;
  cursor: pointer;
}
.tggl-btn.switch {
  padding: 2px;
}
.tggl-btn.switch:after {
  content: '';
  display: block;
  position: absolute;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  left: 2px;
  -webkit-transition: left 0.2s ease, background-color 0.3s ease;
  transition: left 0.2s ease, background-color 0.3s ease;
}
.tggl-input:checked + .tggl-btn.switch:after {
  left: calc(50% + 2px);
}
.tggl-btn.txt {
  overflow: hidden;
}
.tggl-btn.txt:before,
.tggl-btn.txt:after {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 2em;
  font-weight: 700;
  color: #fff;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.tggl-btn.txt:before {
  content: attr(data-tg-off);
  left: 0;
}
.tggl-btn.txt:after {
  content: attr(data-tg-on);
  left: -100%;
}
.tggl-input:checked + .tggl-btn.txt:before {
  left: 100%;
}
.tggl-input:checked + .tggl-btn.txt:after {
  left: 0;
}
.tggl-btn.txtswitch {
  width: 5em;
  padding: 2px;
}
.tggl-btn.txtswitch span {
  display: block;
  position: absolute;
  width: calc(5em - 8px);
  line-height: calc(2em - 4px);
  font-weight: 700;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.tggl-btn.txtswitch span.on {
  opacity: 0;
  text-align: right;
  padding-right: 2em;
}
.tggl-btn.txtswitch span.off {
  opacity: 1;
  text-align: left;
  padding-left: 2em;
}
.tggl-btn.txtswitch:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.tggl-input:checked + .tggl-btn.txtswitch:after {
  left: calc(3em + 2px);
}
.tggl-input:checked + .tggl-btn.txtswitch span.on {
  opacity: 1;
}
.tggl-input:checked + .tggl-btn.txtswitch span.off {
  opacity: 0;
}
.tggl-btn.ying {
      background-color: rgba(72, 165, 234, 0.6);
}
.tggl-btn.ying.switch:after {
  background-color: #fff;
}
.tggl-input:checked + .tggl-btn.ying {
  background-color: #48a5ea;
}
.tggl-btn.ying.txtswitch span {
  color: #fff;
}
.tggl-btn.ying.txtswitch:after {
  width: calc(2em - 4px);
  height: calc(2em - 4px);
  background-color: #fff;
}

/*qnr modal css*/

.form-container{
	position: relative;
  background: #0f1d3d;
  max-width: 425px;
  width: 100%;
  border-left: 20px solid #c7d2e1;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  margin-left: 4%;
  margin-top: -14px;
}
.form-container .form{
  padding: 8px 25px;
  display: block;
}
.form h2{
  margin: 0 0 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}
.form input {
  outline: none;
  display: block;
  width: 100%;
  background-color: transparent;
    color: #2aade3;
        border: none;
    border-radius: 0;
    border-bottom: 1px solid #48a5ea;
  margin: 0 0 15px;
  padding: 10px 0px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #48a5ea;
}
.range-control input{
	margin: 0 0 15px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-wieght: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  display: block;
  width: 84%;
  background-color: transparent;
    color: #2aade3;
        border: none;
    border-radius: 0;
}

.form button {
  cursor: pointer;
  background: #38a2e8;
  width: 100%;
  border: 0;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px 15px;
  color: #ffffff;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;

}
.form button:hover {
  background: #178ab4;
}





.range-p{
	color:#48a5ea; 
	margin: 0 0 20px;
}
.range-control {
  position: relative;
}

input[type=range] {
  display: block;
  width: 100%;
  margin: 0;
  -webkit-appearance: none;
  outline: none;
  margin: 0 0 15px;
  border: none;
}

input[type=range]::-webkit-slider-runnable-track {
  position: relative;
  height: 12px;
 /* border: 1px solid #b2b2b2;*/
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

input[type=range]::-webkit-slider-thumb {
  position: relative;
  top: -5px;
  width: 20px;
  height: 20px;
  border: 1px solid #999;
  -webkit-appearance: none;
  background-color: #fff;
  box-shadow: inset 0 -1px 2px 0 rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  cursor: pointer;
}

output {
  position: absolute;
  top: 22px;
  display: none;
  width: 50px;
  height: 24px;
  border: 1px solid #c7d2e1;
  background-color: #367ab4;
  border-radius: 3px;
  color: #fff;
  font-size: .8em;
  line-height: 24px;
  text-align: center;
}

input[type=range]:active + output {
  display: block;
  transform: translateX(-50%);
}

.range-control #inputRange , .range-control #out-range{
  display: inline-block;
  vertical-align: top;
}
#out-range {
    padding: 3px;
    background-color: #ffffff;
    color: #48a5ea;
    width: 14%;
    border-radius: 4px;  
}
.qnr-modal-margin{
    width: 460px;
    margin-top: -50px;
    margin-left:25%; 
}

/*css for question and options remove button*/

.image-remove-ques{
    font-size: 8px;
    vertical-align: top !important;
    position: relative;
    top: -35px;
    left: -13px;
    padding: 0px 2px !important;
}

.image-remove-ans{  
    font-size: 8px;
    vertical-align: top !important;
    margin-top: 1px;
    margin-left: -75px;
    padding: 0px 2px !important;
}

.image-remove-ans:hover, .image-remove-ques:hover {
   border-color: blue;
   padding: 3px 3px !important;
}
.tagging-group{
    padding: 5px 50px;
}
.add-btn{
    margin: 0;
}
.tag-remove-btn{
   
    width: 18px;
    height: 18px;
    border-radius: 15px;
    font-size: 8px;
    line-height: 1.42;
    padding: 2px 0;
    text-align: center;
    z-index: 3;
    padding: 0px !important;
    color: #fff;
    background-color: #38a2e8;
    border-color: #38a2e8;
    margin-left: 0px;
    margin-top: 4px !important;
}
.tagName-group{
        margin: 10px 0px;
        padding: 0px 50px;
}
.tag-wrap{
    margin-right: 22px;
}
.tag-wrap button , .tag-wrap p{
    display: inline-block;
    vertical-align: middle;
}
.tag-wrap p{
    font-weight: bold;
    padding-top: 3px;
}
#singleAns_ifr{
    width: 100%;
    height: 60px;
    display: block;
}
.mce-statusbar .mce-container-body{
    display: none !important;
}
.mce-branding-powered-by{
    display: none !important;
}
.inner-html{
    font-size: 14px;
	padding: 25px 10px 45px 23px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
    color: #7e7e7e;
	width: 92%;
    margin-left: 55px;
    /* margin-top: 37px; */
    border-top: 0.5px solid #48a5ea;
    border-right: 0.5px solid #48a5ea;
    margin-bottom: 37px !important;
	border-left: 1px solid #48a5ea;
    border-bottom: 1px solid #48a5ea;
    overflow-y: auto;
    height: 102px;
	border-radius: 0;
}
.outer-tiny{
    width: 92%;
    margin-left: 54px;
    position: relative;
    top: -37px;
}

.question-title{
        background-color: #48a5ea;
    width: 92%;
    margin-left: 55px;
    padding: 8px 7px;
    color: white;
    border-radius: 3px;
    border-top: .5px solid #3f90cd;
    position: relative;
    /* top: 37px; */
}
.formatting-width{
    width:900px;
}
.modal-formatting{
    position: relative;
    top: 68px;
    left: 149px;
}

.formatting-body{
    padding: 0px !important;
    height: 382px;
    min-height: 382px;
    overflow-y: auto;
}


.modal-footer .btn + .btn{
    margin-top: 0px;
}

#questions-p-area{
	text-align: left;
    width: 100%;
    
}
#questions-row{
	margin-top: 15px;
    margin-left: 73px;
    text-align: left;
}
.circle{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3%;
    background-color: #57606e;
    display: inline-block;
    border: 2px solid #71e2ef;
    cursor: pointer;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
}
.active{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3%;
    background-color: #223460;
    display: inline-block;
    border: 2px solid #71e2ef;
    cursor: pointer;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
	
}

.markforReview{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFA500;
    display: inline-block;
        border: 2px solid #71e2ef;
        cursor: pointer;
	
}

.quesSelected{
	width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: 	#00b300;
    display: inline-block;
        border: 2px solid #71e2ef;
        cursor: pointer;
	
}

.circle p{
	color: white;
	font-size: 110%;
	position: relative;
    top: 10px;
}
#quiz-title{
	width: 100%;
	margin-bottom: 8px;
}
#quiz-title p{
	width: 93%;
	color: #005692;
    font-size: 150%;
    text-align: center;
    margin: 8px 0px;
}
#quiz-title p,#quiz-title img{
	display: inline-block;
	vertical-align: top;
}
#quiz-title img{
	float: right;
	width: 5.5%;
}
#question-bar{
	    width: 100%;
    background-color: #c2dee0;
    padding: 10px 35px;
    color: #005792;
    font-size: 110%;
}
#current-ques{
	width: 100%;
	background-color: #f5f5f5;
	min-height: 443px;
    padding-bottom: 5px;
}
#current-ques #question-image,#current-ques #question-part #question-part-simple,#current-ques #question-image-fourty,#current-ques #question-part-sixty{ 
	display: inline-block;
	vertical-align: top;
}
#question-image{
	width: 60%;
	margin-left: 4%;
    margin-top: 15px;
}
#select-following{
	color: #005792;
	font-size: 105%;
	margin: 10px 45px 0px;
}
#question-image img{
	width: 100%;
    height: 500px;
}

#question-part-simple{
	margin: 0px 0px 15px 44px;
    padding-top: 10px;
    width: 90%;
    word-wrap: break-word;
}

#question-part-simple p{
	font-size: 120%;
	color: #1b3b62;
}

#question-part{
	margin: 75px 15px;
    width: 32%;
    word-wrap: break-word;
    
}
#question-part p{
	font-size: 120%;
	color: #1b3b62;
}
.answer-list {
    padding: 0px;
    overflow: hidden;
    background-color: #F7F7F7;
    list-style-type: none; 
    display: block;
    padding: 0px 45px;
    vertical-align: middle;
}
.answer-list li{
	padding: 0;
    white-space: normal;
}
.answer-checkbox{
	    visibility: hidden;
	    display: table-cell;
    vertical-align: middle;
}
.answer-content.selected {
	background-color: #48a5ea !important;
	transition: background-color .5s;
    color: #fff;
}
.answer-content{
	    font-size: 16px;
    margin: 0;
    width: 100%;
    white-space: normal;
}
.list-btn {
    text-align: left;
    color: #071018;
    padding: 10px;
    max-height: 50%;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
}
.btn-info{
	    margin: 0px 15px;
}
#quiz-action-button{
	    width: 92%;
    float: right;
    text-align: right;
    margin: 10px 35px;
}

.ansSelected{
    background-color: #48a5ea;
    color: white;
    transition: background-color .5s;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: initial;
    transition-delay: initial;
}

.timerBackground{
 background: url("../../assets/images/clock.png");   
 width: 100px;
 height: 22px;
 background-size: 150px 25px;
}


/*image question css*/


#current-ques #question-image,#current-ques #question-part{
	display: inline-block;
	vertical-align: top;
}
#select-following{
	color: #005792;
	font-size: 105%;
	margin: 10px 45px 0px;
}
.answer-list {
    padding: 0px;
    overflow: hidden;
    background-color: #F7F7F7;
    list-style-type: none; 
    display: block;
    padding: 0px 45px;
    vertical-align: middle;
}
.answer-list li{
	padding: 0;
    white-space: normal;
}
.answer-checkbox{
	    visibility: hidden;
	    display: table-cell;
    vertical-align: middle;
}
.answer-content{
	    font-size: 16px;
    margin: 0;
    width: 100%;
    white-space: normal;
}

.btn-info{
	    margin: 0px 15px;
}
#quiz-action-button{
	    width: 92%;
    float: right;
    text-align: right;
    margin: 10px 35px;
}




.image-answer-list {
    padding: 0px;
    overflow: hidden;
    background-color: #F7F7F7;
    list-style-type: none; 
    display: block;
    padding: 0px 45px;
    vertical-align: middle;
    width: 49%;
}
.image-answer-list li{
	padding: 0;
    white-space: normal;
}
.image-answer-checkbox{
	    visibility: hidden;
	    display: table-cell;
    vertical-align: middle;
}
.image-question-performe-answer{

}
.image-answer-content{
	    font-size: 16px;
    margin: 0;
    width: 100%;
    white-space: normal;
}
.image-list-btn {
    text-align: left;
    color: #071018;
    padding: 10px;
    max-height: 50%;
    font-weight: 300;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
}
#current-ques .image-answer-list,#current-ques .two{
	display: inline-block;
	vertical-align: top;
}

.image-type-question{
	width: 45%;
}
.image-type-question img{
	width: 100%;
	height: 105px;
}
.question-options{
	    width: 44%;
    margin: 0px 15px;
    padding-top: 30px;
}
.image-answer-content .image-type-question , .image-answer-content .question-options{
	display: inline-block;
	vertical-align: top;
}



.innerCircle{
        width: 112px;
    height: 112px;
    background-color: #223460;
    border: 6px solid white;
    border-radius: 75px;
    position: relative;
    left: 57px;
    top: 33px;
    box-shadow: 0 0 0 1px rgb(93, 140, 196),
     0 0 6px 1px rgba(0,0,0,.4), 
     inset 0 0 0 3px rgba(72, 165, 234, 0.4);   
}
.hand{
    background-color: #316198;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: absolute;
    z-index: -1;
}
.hand-1{
    background-color: #c0392b;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: absolute;
    z-index: -1;
}
.small{
    width: 7px;
    height: 8px;
    position: absolute;
    bottom: 14px;
    left: 16px;
}
.seconds{
    width: 113px;
    height: 113px;
    border-radius: 200px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 10s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: orbit;
    -moz-animation-duration: 10s;
    position: absolute;
    top: 91px;
    left: 136px;
}
@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } 
}
@-moz-keyframes orbit { 
from { -moz-transform:rotate(0deg) } 
to { -moz-transform:rotate(360deg) } 
}
.medium{
    width: 12px;
    height: 9px;
    position: absolute;
    bottom: 14px;
    left: 13px;
}
.minutes{
    width: 112px;
    height: 113px;
    border-radius: 200px;
    margin: 15px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-name: orbit;
    -webkit-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -moz-animation-name: orbit;
    -moz-animation-duration: 60s;
    position: absolute;
    top: 76px;
    left: 122px;
}

#hrz-question-part{
    margin: 0px 0px 15px 44px;
    width: 90%;
    padding-top: 10px;
    word-wrap: break-word;
}
#hrz-question-part p{
        font-size: 120%;
    color: #1b3b62;
}
#hrz-question-image{
	width: 90%;
	margin-left: 5%;
    margin-top: 15px;
}
#hrz-question-image img{
	width: 83%;
    height: 420px;
}
#question-image-fourty{
	width: 40%;
	margin-left: 4%;
    margin-top: 15px;
}
#question-image-fourty img{
	width: 100%;
    height: 500px;
}
#question-part-sixty{
	margin: 75px 15px;
    width: 52%;
    word-wrap: break-word;
    
}
#question-part-sixty p{
	font-size: 120%;
	color: #1b3b62;
}

.layout-image-container p, .layout-image-container ul{
    display: inline-block;
}
.layout-image-container p{
    padding: 0px 17px;
    color: #48a5ea;
    font-weight: 600;
    font-size: 15px;
}
.layout-image-container{
        display: table;
    table-layout: fixed;
    width: 100%;
    padding: 4px 0px;
}
.layout-image-select{
    margin: 0!important;
    cursor: pointer;
}
.layout-image-container ul li{
    display: inline-block;
    padding: 2px 10px 2px 0;
}
.layout-image-container input[type=radio]{
    display: none;
}
.layout-image-select img{
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
        border-color: #d9d9d9;
}

.layout-image-active img {
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
        border-color: #38a2e8;;
}
.default-que{
        padding: 0px 24px;
}
.default-que label, .default-que select{
    display: inline-block;
    vertical-align: middle;
}
.default-que label {
    width: 34%;
    color: #48a5ea;
    font-size: 13px;
}
.default-que select{
    width:38%;

}
.default-form{
    height: 30px;
}
.add-new-opt{
    margin-top: 12px;
    margin-right: 180px;
    text-align: right;
}
.add-new-opt a{
    
    text-decoration: none;
}
.options input, .options span{
    display: inline-block !important;
}
.options span{
    width: 20% !important;
}
.remove-icon{
    visibility: hidden;
       font-size: 20px;
    color: #48a5ea;
    position: relative;
    top: 12px;
    left: 15px;
    cursor: pointer;
}
.group-1:hover .remove-icon{
    visibility: visible;
}
  #ques-section .quest-img-container, #ques-section .quest-img{
    display: inline-block;
    vertical-align: middle;
}  
.quest-img-container{
    width: 80%;

}
.quest-img{
    width: 19%;
    margin-top: 70px;
}
.r-m{
    margin-top: 0px !important;
}
.cus-marking-cont{

    width: 95%;
    text-align: right
}
.inline{
    display: inline;
}
.cus-marking-title{
        color: #48a5ea;
    font-size: 1.5rem;
    font-weight: bold;
}
#marking-minus,#marking-plus{
    cursor: pointer;
    color: #48a5ea;
    font-size: 2rem;
    vertical-align: middle;
    margin: 0 13px;
}
#marking-input{
    width: 40px;
    height: 40px;
    line-height: 45px;
    padding: 5px 12px;
    border: solid 1px #48a5ea;
    text-align: center;
}
#marking-input-text{
    vertical-align: middle;
    font-size: 1.5rem;
    color: #48a5ea;
}
button.close{
    color: white;
    opacity: 1;
}
button.close:hover{
    color: #223560;
    opacity: 1;
}