<div class="modal fade" bsModal #uploadImage="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" (click)="uploadImage.hide()">&times;</button>
				<h4 class="modal-title">Upload and Choose Image</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
						 class="well my-drop-zone" (click)="showManualFileUploader()">
							<input id="fileuploadInput" type="file" ng2FileSelect [uploader]="uploader" multiple />
							<div class="upload-icon"><img src="../../assets/images/upload-icon.png" /></div>
							<span class="drag-drop"> Drag and drop files here or click to upload.</span>
						</div>
						<div class="progress-btn">
							<div>
								<p class="color-p">Queue progress:</p>
								<div class="progress" style="">
									<div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
								</div>
							</div>
							<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    			<span class="glyphicon glyphicon-upload"></span> Upload all
                			</button>
							<button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                   				<span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                			</button>
							<button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    			<span class="glyphicon glyphicon-trash"></span> Remove all
               		 		</button>
						</div>
					</div>

					<div class="col-md-6" style="margin-bottom: 10px">

						<h3 class="remove-margin color-p">Upload Queue</h3>
						<p style="color:#5cb85c;">Queue length: {{ uploader?.queue?.length }}</p>
						<div class="upload-table">
							<table class="table">
								<thead>
									<tr>
										<th width="50%">Name</th>
										<th width="25%">Status</th>
										<th width="25%">Actions</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let item of uploader.queue">
										<td><strong>{{ item?.file?.name }}</strong></td>
										<td class="text-center">
											<span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
											<span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
											<span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
										</td>
										<td nowrap>
											<button type="button" class="btn btn-success" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload" ></span>  </button>
											<button type="button" class="btn btn-warning" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span>
                        </button>
											<button type="button" class="btn btn-danger" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span>                         </button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<span class="color-p">Click the image to select.</span>
					</div>
					<div class="col-md-6">
						<span class="color-p show-all">Show All</span>
						<div class="tggl-wrap">
							<input class='tggl-input' id='btn-5' type='checkbox' (click)="showAllImages()">
							<label class='tggl-btn txtswitch ying' for='btn-5'>
      						<span class="on">ON</span><span class="off">OFF</span>
   	 					</label>
						</div>
					</div>
				</div>
				<div class="row preview-area">
					<div *ngFor="let imagesList of imageCollection">
					<div *ngFor="let image of imagesList" class="image-preview-container">
						<button type="button" class="btn btn-danger glyphicon glyphicon-remove"></button>
						<div class="image-details"></div>
						<img src={{image}}>
					</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" (click)="uploadImage.hide()">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #insertQuestion="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content modal-insert">
			<div class="modal-header">
				<button type="button" class="close" (click)="insertQuestion.hide()">&times;</button>
				<h4 class="modal-title">Choose Options</h4>
			</div>
			<div class="modal-body insert-btn">
				<button class="insert-button">
		     	    <img src="../../assets/images/true-false.png" (click)="createQuestion('TRUE_FALSE');insertQuestion.hide()" width="120" />
				</button>
				<button class="insert-button">
     			    <img src="../../assets/images/multiple-single.png" (click)="createQuestion('MULTIPLE_CHOICE_SINGLE');insertQuestion.hide()" width="120" />
				</button>
				<button class="insert-button">
     				<img src="../../assets/images/multiple-multi.png" (click)="createQuestion('MULTIPLE_CHOICE_MULTI');insertQuestion.hide()" width="120" />
				</button>
				<button class="insert-button">
     				<img src="../../assets/images/fill-in-the-blank.png" (click)="createQuestion('FILL_IN_THE_BLANK');insertQuestion.hide()" width="120" />
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info" (click)="insertQuestion.hide()">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" bsModal #finalize="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
 aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content modal-insert">
			<div class="modal-header">
				<button type="button" class="close" (click)="finalize.hide()">&times;</button>
				<h4 class="modal-title">Finalize</h4>
			</div>
			<div class="modal-body" id="finalize-body-clr">
				<div id="finalize-img"><img src="../../assets/images/finalize.gif" /></div>
				<h4 class="finalize-p">
					Would you like to create exam right now ?
				</h4>
				<div class="finalize-btn">
					<button type="button" class="btn btn-info" id="y-n-btn">
      					<span class="glyphicon glyphicon-ok"></span> Yes
   					</button>
					<button type="button" class="btn btn-danger" id="y-n-btn" (click)="finalize.hide()">
      						<span class="glyphicon glyphicon-remove"></span> No
   					</button>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="main">
	<section id="ques-body">
		<nav id="ques-nav">
			<ul>
				<li>
					<a (click)="redirectImportScreen()"><img src="../../assets/images/import-q.png" alt="import icon"> Import</a>
				</li>
				<li>
					<a><img src="../../assets/images/save.png" alt="save icon"> Save</a>
				</li>
				<li>
					<a (click)="redirectToQuestinnairePreview()"><img src="../../assets/images/preview.png" alt="preview icon" /> Preview</a>
				</li>
				<li>
					<a href="#"><img src="../../assets/images/settings.png" alt="settings icon"> Settings</a>
				</li>
				<li>
					<button type="button" class="btn btn-info" id="finalize" (click)="finalize.show()" [disabled]="questionnaire.questions.length<questionnaire.noOfQuestion">
      						<span class="glyphicon glyphicon-paste"></span> Finalize
   						</button>
				</li>
			</ul>
		</nav>
		<div id="ques-dashboard">

			<div id="dasboard-menu">
				<figure id="insert-ques">
					<div class="icon" (click)="insertQuestion.show()" disabled>
						<div class="pulse1">
							<div class="pulse2"></div>
						</div>
					</div>
					<!--<img src="../../assets/images/insert-q-icon.png" class="" (click)="insertQuestion.show()" alt="insert question icon">-->
					<button type="button" class="insert-button" (click)="insertQuestion.show()" disabled>Insert Question</button>
				</figure>

				<div id="ques-lists">
					<div class="scrollbar" id="style-8">
						<table>
							<tr *ngFor="let question of questions; let i = index" (click)="selectCurrentQuestion(question)" [popover]="popTemplate" triggers="mouseenter:mouseleave"
							 placement="right">
								<td>{{i+1}}</td>
								<td><img [src]="getIconBasedOnQuesType(question.questionType)" style="width:65%;" /></td>
								<td>Question Title</td>
								<td><img src="../../assets/images/star.png" style="width:60%; height:auto;" /></td>
								<td>1</td>
								<template #popTemplate>
									<div><label style="color:#223460;font-size: 110%;"><i>Question: {{question.questionDesc}}</i></label></div>
									<div *ngFor="let answer of question.answer; let i = index">
										<p style="color:#4854ea;"><i>Option {{i+1}}: {{answer.description}}</i></p>
									</div>
								</template>
							</tr>

							<template #popCategory>
								<div>
									<table>
										<tr *ngFor="let category of questionCategories; let i = index">
											<td>{{category}}<button type="button" class="btn btn-outline-info" (click)="removeCategory(category)">del</button></td>
										</tr>
									</table>

								</div>
							</template>
						</table>
					</div>
				</div>
			</div>
			<div id="question-area">
				<form #questionnaireForm="ngForm">
					<!-- Multiple choice -->
					<div *ngIf="currentQuestion.questionType=='MULTIPLE_CHOICE_SINGLE'">
						<div id="ques-title">
							<p id="quest-p">Multiple Choice (Single Answer)</p>
							<a href="#" *ngIf="currentQuestion.questionId"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()" *ngIf="currentQuestion.questionId"><img src="../../assets/images/delete.png" style="width:19px; height:auto;" /></a>
						</div>
						<div id="cateory">
							<div id="tagging">
								<label for="tagging">Tagging </label>
								<input class="form-control" id="tagging-input" [(ngModel)]="customCategorySelected" [typeahead]="categories" typeaheadOptionField="value"
								 (typeaheadOnSelect)="addTagToCurrentQuestion()" name="tagging" />
								<span class="glyphicon glyphicon-info-sign" [popover]="popCategory" placement="right"></span>
							</div>


							<div id="subject-diff">
								<label for="exampleSelect1">Section </label>
								<select class="form-control" id="exampleSelect1" name="Section" [(ngModel)]="customSectionSelected">
								<option *ngFor="let section of sections" value="section.key">{{section.value}}</option>
									 <span class="glyphicon glyphicon-plus-sign"></span>
								</select>

							</div>

							<div id="subject-diff">
								<label for="exampleSelect1">Difficulty </label>
								<select class="form-control" id="exampleSelect1" name="difficulty" [(ngModel)]="currentQuestion.difficulty">
								<option *ngFor="let difficulty of difficulties">{{difficulty}}</option>
								</select>
							</div>
						</div>

						<div class="group">
							<input type="textarea" placeholder="Question" name="multiQuesSingleAns" [(ngModel)]="currentQuestion.questionDesc" required>
							<span class="input-img"><img src="../../assets/images/input-img.png" (click)="showImageUploader()"/></span>
						</div>
						<div *ngFor="let option of currentQuestion.answer; let i = index" class="group group-1">
							<input type="text" placeholder="Option {{i+1}}" name="answer{{i+1}}" [(ngModel)]="option.description" required>
							<span class="input-img"><img src="../../assets/images/input-img.png" (click)="uploadImage.show()"/></span>
							<div class="options">
								<label>
    							<input class="radio-button-margin" type="checkbox" class="option-input radio" name="option{{i+1}}" (click)="selectOnlyOneOption(i)" [(ngModel)]="option.isCorrect"/>
  									  								</label>
							</div>
						</div>

					</div>

					<div *ngIf="currentQuestion.questionType=='MULTIPLE_CHOICE_MULTI'">
						<div id="ques-title">
							<p id="quest-p">Multiple Choice (Multiple Answer)</p>
							<a href="#" *ngIf="currentQuestion.questionId"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()" *ngIf="currentQuestion.questionId"><img src="../../assets/images/delete.png" style="width:19px; height:auto;" /></a>
						</div>
						<div id="cateory">
							<div id="tagging">
								<label for="tagging">Tagging </label>
								<input class="form-control" id="tagging-input" [(ngModel)]="customCategorySelected" [typeahead]="categories" typeaheadOptionField="value"
								 (typeaheadOnSelect)="addTagToCurrentQuestion()" name="tagging" />
								<span class="glyphicon glyphicon-info-sign" [popover]="popCategory" placement="right"></span>
							</div>
							<div id="subject-diff">
								<label for="exampleSelect1">Section </label>
								<select class="form-control" id="exampleSelect1" name="Section" [(ngModel)]="customSectionSelected">
								<option *ngFor="let section of sections" value="section.key">{{section.value}}</option>
									 <span class="glyphicon glyphicon-plus-sign"></span>
								</select>

							</div>
							<div id="subject-diff">
								<label for="exampleSelect1">Difficulty </label>
								<select class="form-control" id="exampleSelect1" name="difficulty" [(ngModel)]="currentQuestion.difficulty">
								<option *ngFor="let difficulty of difficulties">{{difficulty}}</option>
								</select>
							</div>
						</div>
						<div class="group">
							<input type="textarea" placeholder="Question" name="multiQuesMultiAns" [(ngModel)]="currentQuestion.questionDesc" required>
							<span class="input-img"><img src="../../assets/images/input-img.png" (click)="uploadImage.show()"/></span>
						</div>
						<div *ngFor="let option of currentQuestion.answer; let i = index" class="group group-1">
							<input type="text" placeholder="Option {{i+1}}" name="answer{{i+1}}" [(ngModel)]="option.description" required>
							<span class="input-img"><img src="../../assets/images/input-img.png" (click)="uploadImage.show()"/></span>
							<div class="options">
								<label title="">
									<input type="checkbox" class="option-input radio" name="option{{i+1}}" [(ngModel)]="option.isCorrect"/>
															</label>
							</div>
						</div>

					</div>

					<!-- True & False-->
					<div *ngIf="currentQuestion.questionType=='TRUE_FALSE'">
						<div id="ques-title">
							<p id="quest-p">True & False</p>
							<a href="#" *ngIf="currentQuestion.questionId"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()" *ngIf="currentQuestion.questionId"><img src="../../assets/images/delete.png" style="width:19px; height:auto;" /></a>
						</div>
						<div id="cateory">
							<div id="tagging">
								<label for="tagging">Tagging </label>
								<input class="form-control" id="tagging-input" [(ngModel)]="customCategorySelected" [typeahead]="categories" typeaheadOptionField="value"
								 (typeaheadOnSelect)="addTagToCurrentQuestion()" name="tagging" />
								<span class="glyphicon glyphicon-info-sign" [popover]="popCategory" placement="right"></span>
							</div>
							<div id="subject-diff">
								<label for="exampleSelect1">Section </label>
								<select class="form-control" id="exampleSelect1" name="Section" [(ngModel)]="customSectionSelected">
								<option *ngFor="let section of sections" value="section.key">{{section.value}}</option>
									 <span class="glyphicon glyphicon-plus-sign"></span>
								</select>

							</div>
							<div id="subject-diff">
								<label for="exampleSelect1">Difficulty </label>
								<select class="form-control" id="exampleSelect1" name="difficulty" [(ngModel)]="currentQuestion.difficulty">
								<option *ngFor="let difficulty of difficulties">{{difficulty}}</option>
								</select>
							</div>
						</div>
						<div class="group">
							<input type="textarea" placeholder="Question" name="trueFalse" [(ngModel)]="currentQuestion.questionDesc" required>
							<span class="input-img"><img src="../../assets/images/input-img.png" (click)="uploadImage.show()"/></span>
						</div>
						<div *ngFor="let option of currentQuestion.answer; let i = index" class="group group-1">
							<input type="text" placeholder="True" name="answer{{i+1}}" disabled [(ngModel)]="option.description" required/>
							<span class="input-img"><img src="../../assets/images/input-img.png" (click)="uploadImage.show()"/></span>
							<div class="options">
								<label title="">
									<input type="checkbox" class="option-input radio" name="option{{i+1}}" (click)="selectOnlyOneOption(i)" [(ngModel)]="option.isCorrect" />
																
								</label>
							</div>
						</div>
					</div>

					<!-- Fill in the blanks-->
					<div *ngIf="currentQuestion.questionType=='FILL_IN_THE_BLANK'">
						<div id="ques-title">
							<p id="quest-p">Fill in the blank</p>
							<a href="#" *ngIf="currentQuestion.questionId"><img src="../../assets/images/edit.png" style="width:25px; height:auto;" /></a>
							<a (click)="deleteQuestion()" *ngIf="currentQuestion.questionId"><img src="../../assets/images/delete.png" style="width:19px; height:auto;" /></a>
						</div>
						<div id="cateory">
							<div id="tagging">
								<label for="tagging">Tagging </label>
								<input class="form-control" id="tagging-input" [(ngModel)]="customCategorySelected" [typeahead]="categories" typeaheadOptionField="value"
								 (typeaheadOnSelect)="addTagToCurrentQuestion()" name="tagging" />
								<span class="glyphicon glyphicon-info-sign" [popover]="popCategory" placement="right"></span>
							</div>
							<div id="subject-diff">
								<label for="exampleSelect1">Section </label>
								<select class="form-control" id="exampleSelect1" name="Section" [(ngModel)]="customSectionSelected">
								<option *ngFor="let section of sections" value="section.key">{{section.value}}</option>
									 <span class="glyphicon glyphicon-plus-sign"></span>
								</select>

							</div>
							<div id="subject-diff">
								<label for="exampleSelect1">Difficulty </label>
								<select class="form-control" id="exampleSelect1" name="difficulty" [(ngModel)]="currentQuestion.difficulty">
								<option *ngFor="let difficulty of difficulties">{{difficulty}}</option>
								</select>
							</div>
						</div>
						<div class="group">
							<input type="textarea" placeholder="Question" name="fillInTheBlanks" [(ngModel)]="currentQuestion.questionDesc" required>
						</div>
						<br><br>
						<div *ngFor="let option of currentQuestion.answer" class="group">
							<input type="textarea" placeholder="Blank 1 Answer" name="answer" [(ngModel)]="option.description" required />
						</div>

					</div>
					<div id="save-button">
						<button type="button" class="btn btn-info" (click)="saveQuestion()" [disabled]="!(questionnaireForm.form.valid) || !(isvalidOption) || saveButtonText==='saving...' || (questionnaire.questions.length >= questionnaire.noOfQuestion)">{{saveButtonText}}</button>
						<button type="button" class="btn btn-outline-info">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</section>
</section>