<section id="main">
			<header>
				<figure id="logo">
					<a href="#"><img src="images/logo.png" alt="Oas logo"></a>
				</figure>
				<nav>
					<div id="user-icon">
						<figure>
							<img src="images/user-img.png" alt="corporate training icon">
						</figure>
					</div>
					<div id="user-p"><p>User</p></div>
					<button type="button" class="btn btn-success">UPGRADE</button>
				</nav>
			</header>
			<section id="ques-body">
				<nav id="ques-nav">
					<ul>
						<li><a href="#"><img src="images/save.png" alt="save icon"> Save</a></li>
						<li><a href="#"><img src="images/preview.png" alt="preview icon"> Preview</a></li>
						<li><a href="#"><img src="images/settings.png" alt="settings icon"> Settings</a></li>
						</ul>
				</nav>
				<div id="ques-dashboard">
					<div id="dasboard-menu">
						 <!-- <div class="shape-icon shape-1"></div>
						<div class="shape-icon shape-2"></div>
						<div class="shape-icon shape-3"></div>
						<div class="shape-icon shape-4"></div> -->
						 <figure id="insert-ques" >
							<img src="images/insert-q-icon.png" class="" data-toggle="modal" data-target="#myModal" alt="insert question icon">
							<br>
							<button type="button" class="insert-button" data-toggle="modal" data-target="#myModal">Insert Question</button>
						</figure>
  						<!-- Modal -->
 						<div class="modal fade" id="myModal" role="dialog">
    						<div class="modal-dialog">
      							<!-- Modal content-->
      							<div class="modal-content">
     					  			<div class="modal-header">
          								<button type="button" class="close" data-dismiss="modal">&times;</button>
          								<h4 class="modal-title">Choose Options</h4>
        							</div>
        							<!-- Modal Body -->
       	 							<div class="modal-body">
		  	 							<button class="insert-button">
		     								<img src="images/true-false.png" width="120" />
										</button>
    	 								<button class="insert-button">
     										<img src="images/multiple-single.png" width="120" />
										</button>
  	 									<button class="insert-button">
     										<img src="images/multiple-multi.png" width="120" />
										</button>
  	 									<button class="insert-button">
     										<img src="images/fill-in-the-blank.png" width="120" />
										</button>
       	 							</div>
        							<div class="modal-footer">
          								<button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        							</div>
      							</div>
    						</div>
  						</div>
  						<div id="ques-lists">
  							<table>
		  						<tr>
								    <td>1.</td>
								    <td><img src="images/m-c.png" style="width:25px; height:auto;"/></td>
								    <td>Question Title</td>
								    <td><img src="images/star.png" style="width:17px; height:auto;"/></td>
								    <td>1</td>
								 </tr>
								 <tr>
								    <td>2.</td>
								    <td><img src="images/m-c.png" style="width:25px; height:auto;"/></td>
								    <td>Question Title</td>
								    <td><img src="images/star.png" style="width:17px; height:auto;"/></td>
								    <td>1</td>
								 </tr>
								 <tr>
								    <td>3.</td>
								    <td><img src="images/m-c.png" style="width:25px; height:auto;"/></td>
								    <td>Question Title</td>
								    <td><img src="images/star.png" style="width:17px; height:auto;"/></td>
								    <td>1</td>
								 </tr>
								 <tr>
								    <td>4.</td>
								    <td><img src="images/m-c.png" style="width:25px; height:auto;"/></td>
								    <td>Question Title</td>
								    <td><img src="images/star.png" style="width:17px; height:auto;"/></td>
								    <td>1</td>
								 </tr>
								 <tr>
								    <td>5.</td>
								    <td><img src="images/m-c.png" style="width:25px; height:auto;"/></td>
								    <td>Question Title</td>
								    <td><img src="images/star.png" style="width:17px; height:auto;"/></td>
								    <td>1</td>
								 </tr>
							</table>
						</div>
					</div>
					<div id="question-area">
						<div id="ques-title">
							<p id="quest-p">Multiple Choice</p>
							<a href="#"><img src="images/edit.png" style="width:25px; height:auto;"/></a>
							<a href="#"><img src="images/delete.png" style="width:19px; height:auto;"/></a>
						</div>
						<div class="group">
							<input type="text" placeholder="Question" name="question">
							<span class="input-img"><img src="images/input-img.png"/></span>
						</div>
						<div class="group group-1">
							<input type="text" placeholder="Option 1" name="question">
							<span class="input-img"><img src="images/input-img.png"/></span>
							<div class="options">
								<label title="">
									<input type="radio" name="foo" value="0" /> 
									<img />
								</label>
							</div>
						</div>
						<div class="group group-1">
							<input type="text" placeholder="Option 2" name="question">
							<span class="input-img"><img src="images/input-img.png"/></span>
							<div class="options">
								<label title="">
									<input type="radio" name="foo" value="1" /> 
									<img />
								</label>
							</div>
						</div>
						<div class="group group-1">
							<input type="text" placeholder="Option 3" name="question">
							<span class="input-img"><img src="images/input-img.png"/></span>
							<div class="options">
								<label title="">
									<input type="radio" name="foo" value="2" /> 
									<img />
								</label>
							</div>
						</div>
						<div class="group group-1">
							<input type="text" placeholder="Option 4" name="question">
							<span class="input-img"><img src="images/input-img.png"/></span>
							<div class="options">
								<label title="">
									<input type="radio" name="foo" value="3" /> 
									<img />
								</label>
							</div>
						</div>
						<div id="save-button">
							<button type="button" class="btn btn-info">Save</button>
							<button type="button" class="btn btn-outline-info">Cancel</button>
						</div>
					</div>		
				</div>
			</section>
	