body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
#main{
	width: 100%;
}
header{
	width: 100%;
	background-color: #0b152d;
	padding: 8px 0px;
}
header figure{
	padding: 0px 0px 0px 35px;
}
#logo{
	width: 70%;
}
#logo img{
	width: 85px;
}
header nav{
	width: 29%;
}
header figure,header nav{
	display: inline-block;
	vertical-align: top;
}
#user-icon{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    margin-right: 1%;
    cursor: pointer;
}
#user-icon figure img{
	position: relative;
    left: -26px;
    top: 3px;
    width: 18px;
}
nav #user-icon,nav #user-p{
	display: inline-block;
}
#user-p{
	vertical-align: top;
    width: 20%;
    color: white;
    font-size: 16px;
    padding-top: 7px;
    cursor: pointer;
}
.btn{
	vertical-align: top !important;
	margin-top: 3px;
	margin-left: 8%;
	padding: 6px 20px !important;
}
#ques-body{
	width: 100%;
	background-color: #ecf0f1;
	padding-bottom: 30px;
}
#ques-nav{
    width: 100%;
    padding: 11px 0px;
    padding-right: 8%;
    text-align: right;
}
#ques-nav ul{
	list-style-type: none;
	font-size: 16px;

}
#ques-nav ul li{
	display: inline;
	padding: 0px 12px;
}
#ques-nav a{
	text-decoration: none;
	color: #48a5ea;
}
#ques-nav ul li a img{
	width: 30px;
}
#ques-dashboard{
	width: 100%;
	padding: 0px 20px;
	/*padding: 0px 15px 0px 66px;*/
}
#ques-dashboard #dasboard-menu,#ques-dashboard #question-area{
	display: inline-block;
}
#dasboard-menu{
/*	background-color: #48a5ea;*/
	width: 27%;
	height: 480px;
	border-radius: 3px;
	background: url(../../assets/images/menu.png);
  background-repeat: no-repeat;
  

}
#question-area{
	width: 72%;
	height: 480px;
	background-color: #ffffff;
	border-radius: 3px;
	vertical-align: top;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.shape-icon{
    width: 65px;
    height: 24px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}
/*.shape-1{
	background-color: #48a5ea;
	position: relative;
	left: -54px;
}
.shape-2{
	background-color: #ecf0f1;
	position: relative;
	left: -32px;
}
.shape-3{
	background-color: #48a5ea;
	position: relative;
	left: -25px;
}
.shape-4{
	background-color: #ecf0f1;
	position: relative;
	left: -50px;
}*/
#insert-ques{
	width: 100%;
	text-align: center;
	padding-left: 57px;
    margin-top: 30px;
    cursor: pointer;
}
#insert-ques img{
	width: 82px;
}
#insert-ques p{
	color: white;
    font-size: 120%;
    font-weight: bold;
    line-height: 30px;
}
.insert-button{
	margin-top: 5px;
	border: none;
    background-color: none;
    background: none;
    color: white;
    font-size: 110%;
    font-weight: bold;
}
.modal-content{
	position: relative;
	top: 80px !important;
	left: 18px !important;
}
.modal-body {
    position: relative;
    padding: 15px 24px 20px 24px !important;
}
.modal-title {
    color: #48a5ea;
    margin: 0;
    line-height: 1.42857143;
    font-weight: 600;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #ecf0f1 !important;
}
.modal-footer {
	border-top: 1px solid #ecf0f1 !important;
}
.modal-body img:hover{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}
#ques-lists table {
    border-collapse: collapse;
    width: 82%;
    margin-left: 60px;
    margin-top: 75px;

}
#ques-lists tr{
	background-color: #223560;
	color: #ffffff;
	border-bottom: 2px solid #48a5ea;
	cursor: pointer;
}
#ques-lists td {
    text-align: center;
    padding: 8px;

}
#ques-lists tr:hover{
background-color: #5cb85c;
}
#ques-title{
	width: 100%;
    background-color: #d9edf7;
    margin-top: 15px;
    padding: 5px;
}
#ques-title #quest-p,#ques-title p{
	display: inline-block;	
}
#quest-p{
	width: 83%;
	color: #0b152d;
    font-size: 130%;
    font-weight: 600;
    padding-left: 20px;
    margin: 0 0 8px !important;
}
#ques-title a{
	padding-left: 25px;
}

.group { 
	position: relative; 
	margin-bottom: 15px; 
}

.group input {
	font-size: 17px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	color: #141414;
	width: 83%;
    margin-left: 55px;
    margin-top: 20px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #2aade3;
}
.group input : focus{
	border: none;
	outline: none;
	border-color: w
}
input:focus{
	border: none;
	outline: none;
	border-bottom: 1px solid #2aade3;
}
.input-img{
	height:auto;   
	position: relative;
    left: -30px;
}
.input-img img{
	width:25px;
}
.group input: focus{
	border: none;
}
.group input,.group span,.group .options{
	display: inline-block;
}
.group-1 input,.group-1 span{
	display: inline-block;
	    float: left;
    margin-top: 30px;
}
.group-1{
	position: relative; 
	margin-bottom: 0px;
}
.group-1 input{
	font-size: 14px;
	padding: 10px 10px 5px 5px;
	-webkit-appearance: none;
	display: block;
	background-color: transparent;
	color: #141414;
	width: 73%;
    margin-left: 55px;
    margin-top: 20px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #2aade3;
}

.options{
	    position: relative;
    top: -10px;
}

div.options > label > input {
	visibility: hidden;

}

div.options > label {
	display: block;
	margin: 0 0 0 5px;
	padding: 0 0 20px 0;  
	height: 20px;
	width: 150px;
}

div.options > label > img {
	display: inline-block;
	padding: 0px;
	height:27px;
	width:27px;
	border: 2px solid #48a5ea;
    border-radius: 30px;
	background: none;
}

div.options > label > input:checked +img {  
	background: url(../../assets/images/right-icon.png);
	background-repeat: no-repeat;
	background-position:center center;
	background-size:22px 22px;
}
#save-button{
	margin-top: 23px;
    width: 100%;
    text-align: center;
    padding-left: 390px;
}
.btn-info{
	background-color: #48a5ea;
}
.btn-info:hover{
	background-color: #2896e8;
	border-color: #2896e8;
}