		<section id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 top-header">
						<p *ngIf="!candidateId">Add Candidate</p>
						<p *ngIf="candidateId">Manage Candidate</p>
						<div class="layout-image-container">
							<ul *ngIf="!candidateId" class="layout-image-select">
								<li class="layout-image-select" [ngClass]="{'layout-image-active': showNormalView}">
									<label class="layout-image-select" for="layout-radio">
										<input type="radio" id="layout-radio">
										<img src="../../assets/images/desc.png" style="width: 85%;" (click)="showNormalView=true" [popover]="descriptive" triggers="mouseenter:mouseleave"
										placement="bottom"> 
									</label>
								</li>
								<li class="layout-image-select" [ngClass]="{'layout-image-active': !showNormalView}">
									<label class="layout-image-select" for="layout-radio">
										<input type="radio" id="layout-radio">
										<img src="../../assets/images/quick.png" style="width: 85%;" (click)="showNormalView=false" [popover]="quick" triggers="mouseenter:mouseleave"
										placement="bottom"> 
									</label>
								</li>
							</ul>
							<template #descriptive>
								<div>
									<p style="color: #38a2e8;padding:0px;font-size: 12px; z-index: 999">Descriptive Add</p>
								</div>
							</template>
							<template #quick>
								<div>
									<p style="color: #38a2e8; padding:0px; font-size: 12px;">Quick Add</p>
								</div>
							</template>
						</div>
						<a href="#/candidate/home" class="btn btn-default btn-xs" role="button">Back to Home</a>
					</div>
				</div>
			</div>
			<div class="container-fluid config-container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-sec">
							<div class="student-manage-sec">
								<form #cadidateForm="ngForm">
							 <div *ngIf="showNormalView">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstName">First Name</label>
											<input class="form-control" type="text" id="firstName" name="firstName" [(ngModel)]="candidateData.firstName" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastName">Last Name</label>
											<input class="form-control" type="text" id="lastName" name="lastName" [(ngModel)]="candidateData.lastName" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="gender">Gender</label>
											    <select class="form-control" id="gender" name="gender" [(ngModel)]="candidateData.gender" required>
											        <option>Male</option>
											        <option>Female</option>
											    </select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="contact">Contact No.</label>
											<input class="form-control no-spinners" type="number" name="contact" id="contact" [(ngModel)]="candidateData.contactNo" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="email">Email</label>
											<input class="form-control" type="text" id="email" name="email" [(ngModel)]="candidateData.emailId" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="identifier">Identifier</label>
											<input class="form-control" type="text" id="identifier" name="identifier" [(ngModel)]="candidateData.identifier" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label for="group">Available Group (Optional)</label>
											    <select class="form-control groups" id="group" multiple name="availableGroup" [(ngModel)]="selectedAvailableGroups">
											        <option *ngFor="let group of candidateGroups" [value]="group">{{group.groupName}} </option>
											        											    </select>

										</div>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-info move-btn" (click)="addAvailableGroupToCandidate()"><span class="glyphicon glyphicon-arrow-right"></span></button>
										<button type="button" class="btn btn-info move-btn" (click)="removeAssignedGroupFromCandidate()"><span class="glyphicon glyphicon-arrow-left"></span></button>
									</div>
										<div class="col-md-5">
											<div class="form-group">
												<label for="group">Assign Group (Optional)</label>
												    <select class="form-control groups" id="group" multiple name="assignedGroup" [(ngModel)]="selectedAssignedGroups">
											        <option *ngFor="let group of assignedGroup" [value]="group">{{group.groupName}} </option>
											        											    </select>
											</div>
										</div>
								</div>
								<div class="row">
								<div class="col-md-9"></div>
									<div class="col-md-3">
										<span class="color-p show-all">Create User</span>
										<div class="tggl-wrap">
											<input class='tggl-input' id='btn-5' type='checkbox' name="showAll" [(ngModel)]="candidateData.createUser">
												<label class='tggl-btn txtswitch ying' for='btn-5'>
					      						<span class="on">ON</span><span class="off">OFF</span>
					   	 					</label>
											</div>
									</div>
								</div>
							
								</div>
							<div class="quick-cont" *ngIf="!showNormalView" >
								<div class="row quick-view" *ngFor = "let candidate of candidateList, let i = index">
									<div class="col-md-3">
										<div class="form-group rem-margin">
											<input class="form-control" placeholder="First Name" type="text" name="firstName" id="firstName" [(ngModel)]="candidate.firstName" required>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group rem-margin">
											<input class="form-control" type="text" placeholder="Last Name" id="lastName" name="lastName" [(ngModel)]="candidate.lastName" required>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group rem-margin">
											<input class="form-control" placeholder="Email" type="text" id="email" name="email" [(ngModel)]="candidate.emailId" required>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group rem-margin">
											<input class="form-control" placeholder="Identifier" type="text" id="identifier" name="identifier" [(ngModel)]="candidate.identifier" required>
										</div>
									</div>
									<div class="glyphicon glyphicon-trash remove-icon" (click)="removeOption(i)"></div>
								</div>
								
								<div class="add-new-opt">
										<a (click)="addCandidate()"><img src="../../assets/images/import-q.png" style="width: 29px;" alt="add icon">Add Another Candidate</a>
								</div>
							</div>
							</form>
								<div id="save-button">
									  <button type="button" *ngIf="candidateId" class="btn btn-outline-info">Edit</button>
									<button type="button" class="btn btn-info save-btn" (click)="createCandidate();showSuccess()" [disabled]="!(cadidateForm.form.valid) || saveButtonText==='saving...'">{{saveButtonText}}</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>