		<section id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12 top-header">
						<p>Add Candidate</p>
						<a href="#/candidate/home" class="btn btn-default btn-xs" role="button">Back to Dashboard</a>
					</div>
				</div>
			</div>
			<div class="container-fluid config-container">
				<div class="row">
					<div class="col-md-12">
						<div class="main-sec">
							<div class="student-manage-sec">
							
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstName">First Name</label>
											<input class="form-control" type="text" id="firstName" [(ngModel)]="candidateData.firstName">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastName">Last Name</label>
											<input class="form-control" type="text" id="lastName" [(ngModel)]="candidateData.lastName">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="gender">Gender</label>
											    <select class="form-control" id="gender" [(ngModel)]="candidateData.gender">
											        <option>Male</option>
											        <option>Female</option>
											    </select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="contact">Contact No.</label>
											<input class="form-control" type="number" id="contact" [(ngModel)]="candidateData.contactNo">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="email">Email</label>
											<input class="form-control" type="text" id="email" [(ngModel)]="candidateData.emailId">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="identifier">Identifier</label>
											<input class="form-control" type="text" id="identifier" [(ngModel)]="candidateData.identifier">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-5">
										<div class="form-group">
											<label for="group">Available Group (Optional)</label>
											    <select class="form-control groups" id="group" multiple name="availableGroup" [(ngModel)]="selectedAvailableGroups">
											        <option *ngFor="let group of candidateGroups" [value]="group">{{group.groupName}} </option>
											        											    </select>

										</div>
									</div>
									<div class="col-md-2">
										<button type="button" class="btn btn-info move-btn" (click)="addAvailableGroupToCandidate()"><span class="glyphicon glyphicon-arrow-right"></span></button>
										<button type="button" class="btn btn-info move-btn" (click)="removeAssignedGroupFromCandidate()"><span class="glyphicon glyphicon-arrow-left"></span></button>
									</div>
										<div class="col-md-5">
											<div class="form-group">
												<label for="group">Assign Group (Optional)</label>
												    <select class="form-control groups" id="group" multiple name="assignedGroup" [(ngModel)]="selectedAssignedGroups">
											        <option *ngFor="let group of assignedGroup" [value]="group">{{group.groupName}} </option>
											        											    </select>
											</div>
										</div>
								</div>
								<div class="row">
								<div class="col-md-9"></div>
									<div class="col-md-3">
										<span class="color-p show-all">Create User</span>
										<div class="tggl-wrap">
											<input class='tggl-input' id='btn-5' type='checkbox' name="showAll" [(ngModel)]="candidateData.createUser">
												<label class='tggl-btn txtswitch ying' for='btn-5'>
					      						<span class="on">ON</span><span class="off">OFF</span>
					   	 					</label>
											</div>
									</div>
								</div>
								<div id="save-button">
									<button type="button" class="btn btn-info save-btn" (click)="createCandidate()">Save</button>
									<button type="button" class="btn btn-outline-info">Cancel</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</section>