body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
#main{
	width: 100%;
  background-color: #f1f1f1;
}
.col-md-1 , .col-md-11{
	padding: 0px;
}

@media (min-width: 992px)
{
.col-md-1 {
    width: 21.333333%;
     padding: 0px 8px;
}
.col-md-11 {
    width: 78.666667%;
     padding: 0px 8px;
}
}
.traingle-shape{
	position: relative;
    top: 150px;
    left: 82%;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 50px solid white;
    border-bottom: 40px solid transparent;
}
.add-student, .create-groups, .manage-students{
	padding: 8px 0px;
}
.active{
	background-color: #fff;
}
.side-nav a{
	text-decoration: none;
	color: #223460;
	padding: 7px 0px;
  font-weight: bold;
}
.side-nav img{
	width: 45px;
}
.empty-space{
	padding: 12px 0px;
}
.main-sec{
    background-color: #fff;
    min-height: 455px;
    text-align: left;
}
.pattern img{
	float: right;
    width: 5%;
}
.student-manage-sec{
	padding: 30px 80px 0px 80px;
  background-color: white;
    z-index: 999;
    position: relative;
    top: -39px;
    border-radius: 3px;
}
.title{
	margin-bottom: 20px;
}
.title p{
	font-size: 145%;
    color: #223460;
    font-weight: bold;

}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    color: #48a5ea;
}
.form-control {
	border: 1px solid #48a5ea;
}
.form-group {
    margin-bottom: 10px;
}

#save-button{
	margin-top: 15px;
    width: 100%;
    text-align: right;
}
.save-btn{
	margin: 0px 25px;
}
.move-btn{
	   margin: 25px 41px -11px 47px;
    padding: 1px 19px;
    font-size: 20px;
}
.groups{
	overflow-y: auto;
}
/*styles for toggle button*/
.tggl-wrap {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 5px;
}
.tggl-input {
  display: none;
}
.tggl-btn {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: block;
  position: relative;
  width: 4em;
  height: 2em;
  border-radius: 1em;
  cursor: pointer;
}
.tggl-btn.switch {
  padding: 2px;
}
.tggl-btn.switch:after {
  content: '';
  display: block;
  position: absolute;
  width: calc(50% - 4px);
  height: calc(100% - 4px);
  border-radius: 50%;
  left: 2px;
  -webkit-transition: left 0.2s ease, background-color 0.3s ease;
  transition: left 0.2s ease, background-color 0.3s ease;
}
.tggl-input:checked + .tggl-btn.switch:after {
  left: calc(50% + 2px);
}
.tggl-btn.txt {
  overflow: hidden;
}
.tggl-btn.txt:before,
.tggl-btn.txt:after {
  display: inline-block;
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 2em;
  font-weight: 700;
  color: #fff;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.tggl-btn.txt:before {
  content: attr(data-tg-off);
  left: 0;
}
.tggl-btn.txt:after {
  content: attr(data-tg-on);
  left: -100%;
}
.tggl-input:checked + .tggl-btn.txt:before {
  left: 100%;
}
.tggl-input:checked + .tggl-btn.txt:after {
  left: 0;
}
.tggl-btn.txtswitch {
  width: 5em;
  padding: 2px;
}
.tggl-btn.txtswitch span {
  display: block;
  position: absolute;
  width: calc(5em - 8px);
  line-height: calc(2em - 4px);
  font-weight: 700;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.tggl-btn.txtswitch span.on {
  opacity: 0;
  text-align: right;
  padding-right: 2em;
}
.tggl-btn.txtswitch span.off {
  opacity: 1;
  text-align: left;
  padding-left: 2em;
}
.tggl-btn.txtswitch:after {
  content: '';
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  -webkit-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
.tggl-input:checked + .tggl-btn.txtswitch:after {
  left: calc(3em + 2px);
}
.tggl-input:checked + .tggl-btn.txtswitch span.on {
  opacity: 1;
}
.tggl-input:checked + .tggl-btn.txtswitch span.off {
  opacity: 0;
}
.tggl-btn.ying {
      background-color: rgba(72, 165, 234, 0.6);
}
.tggl-btn.ying.switch:after {
  background-color: #fff;
}
.tggl-input:checked + .tggl-btn.ying {
  background-color: #48a5ea;
}
.tggl-btn.ying.txtswitch span {
  color: #fff;
}
.tggl-btn.ying.txtswitch:after {
  width: calc(2em - 4px);
  height: calc(2em - 4px);
  background-color: #fff;
}
.show-all{
    vertical-align: top;
    color: #48a5ea;
}



.top-header{
	background-color: #48a5ea;
        padding: 8px 33px 48px 33px;
}
.top-header p{
	color: white;
    font-size: 125%;
    font-weight: bold;
    width: 13%;
}
.config-container{
	margin: 0px;
}
.top-header p, .top-header .layout-image-container, .top-header a{
  display: inline-block;
}
.top-header a{
}

.layout-image-container p, .layout-image-container ul{
    display: inline-block;
}
.layout-image-container p{
    padding: 0px 17px;
    color: #48a5ea;
    font-weight: 600;
    font-size: 15px;
}
.layout-image-container{
        display: table;
    table-layout: fixed;
    width: 100%;
    padding: 4px 0px;
        width: 72%;
}
.layout-image-select{
    margin: 0!important;
    cursor: pointer;
}
.layout-image-container ul li{
    display: inline-block;
    padding: 2px 10px 2px 0;
}
.layout-image-container input[type=radio]{
    display: none;
}
.layout-image-select img{
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
        border-color: #d9d9d9;
}

.layout-image-active img {
    border-width: 4px;
    border-style: solid;
    border-radius: 4px;
        border-color: #223460;
}
.add-new-opt{
}
.add-new-opt a{    
    text-decoration: none;
}
  .remove-icon{
       font-size: 19px;
    color: #48a5ea;
   position: relative;
       top: -27px;
    left: 1118px; 
    cursor: pointer;
}
   .remove-icon:hover{
    color: #dd2328;
    -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
   }
  .rem-margin{
    margin-bottom: 0px;
  }
  .no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.icon-control{
  width: 10%;
  float: left;
   padding-left: 10px;
   padding-top:10px;
}

.icon-control img{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
