<section id="main">
			<div id="bg-image">
				<div>
				<div id="head-title">
					<p>Get started by selecting a product</p>
				</div>
					<figure id="image-container">
						<img src="../../assets/images/candidates-image.png" usemap="#html"/>
                    <map name="html">
					<!-- Add candidate -->
					<area shape="circle" 
					coords="102,183,47" alt="Add candidate" href="#/candidate/new" target="_self" />
					<!-- Manage candidates -->
					<area shape="circle" 
					coords="271,183,47" alt="Manage candidates" href="#/candidate/manage/candidates" target="_self" />
					<!-- Create Groups-->
					<area shape="circle" 
					coords="441,183,47" alt="Create Groups" href="#/candidate/group" target="_self" />
					<!-- Manage Groups -->
					<area shape="circle" 
					coords="613,183,47" alt="Manage Groups" href="#/candidate/manage/groups" target="_self" />
					</map>
					</figure>
					
				</div>
			</div>
		</section>