<section id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1">
										   <div id="ques-filter">
        <div id="filters-p">
            <div>
                <p>Filters </p>
                <button type="button" id="filter-btn" class="btn btn-info" (click)="getFiltteredQuestions()">Apply Filter</button>
            </div>

        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Title</p>
            <div id="type-ahead">
                <input type="text" class="form-control title-input" name="title" [(ngModel)]="titleSelected"> 
            </div>
        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Difficulty level</p>
            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isDifficultyCollapsed}" (click)="isDifficultyCollapsed = !isDifficultyCollapsed"></span></figure>
            <div [collapse]="isDifficultyCollapsed" class="card card-block card-header">

                <div class="boxes" *ngFor="let difficulty of difficulties; let i = index">
                    <input type="checkbox" id="difficulty{{i+1}}" name="difficulty{{i+1}}" [(ngModel)]="difficulty.isSelected" />
                    <label for="difficulty{{i+1}}">{{difficulty.value}}</label>
                </div>

            </div>
        </div>
        <div class="checkbox-area">
            <p class="heading-p">-Question Type</p>
            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isQuestionCollapsed}" (click)="isQuestionCollapsed = !isQuestionCollapsed"></span></figure>
            <div [collapse]="isQuestionCollapsed" class="card card-block card-header">

                <div class="boxes" *ngFor="let quesType of questionTypes; let i = index">
                    <input type="checkbox" id="quesType{{i+1}}" name="quesType{{i+1}}" [(ngModel)]="quesType.isSelected" />
                    <label for="quesType{{i+1}}">{{quesType.value}}</label>
                </div>

            </div>
        </div>
        <div class="checkbox-area">
            <p class="heading-p">-Section</p>
            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isSectionCollapsed}" (click)="isSectionCollapsed = !isSectionCollapsed"></span></figure>
            <div [collapse]="isSectionCollapsed" class="card card-block card-header">
                <div class="boxes">
                    <div id="type-ahead">
                        <input [(ngModel)]="customSectionSelected" [typeahead]="sections" typeaheadOptionField="value" (typeaheadOnSelect)="markSectionSelected(customSectionSelected)"
                            class="form-control">
                    </div>

                    <div class="boxes" *ngFor="let section of sections; let i = index">
                        <input type="checkbox" id="section{{i+1}}" name="section{{i+1}}" [(ngModel)]="section.isSelected" />
                        <label for="section{{i+1}}">{{section.value}}</label>
                    </div>

                </div>

            </div>
        </div>

        <div class="checkbox-area">
            <p class="heading-p">-Tagging</p>

            <figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':!isCategoryCollapsed}" (click)="isCategoryCollapsed = !isCategoryCollapsed"></span></figure>
            <div [collapse]="isCategoryCollapsed" class="card card-block card-header">

                <div class="boxes">
                    <div id="type-ahead">
                        <input [(ngModel)]="customCategorySelected" [typeahead]="categories" typeaheadOptionField="value" (typeaheadOnSelect)="markCategorySelected(customCategorySelected)"
                            class="form-control">
                    </div>
                    <div class="boxes" *ngFor="let category of categories; let i = index">
                        <input type="checkbox" id="category{{i+1}}" name="category{{i+1}}" [(ngModel)]="category.isSelected" />
                        <label for="category{{i+1}}">{{category.value}}</label>
                    </div>
                </div>
            </div>
        </div>

    </div>
					</div>
					<div class="col-md-11">
						<div class="head-title">
							<p>Manage Groups</p>
                            <a href="#/candidate/home" class="btn btn-default btn-xs" role="button">Back to Dashboard</a>
						</div>
						<hr class="white-line">
						<div class="main-sec">
							<div class="student-manage-sec">
								<table>
									<tr>
										<th width="79%" class="title-table">Student Name</th>
										<th width="10%">Edit</th>
										<th width="10%">Delete</th>
									</tr>
									<tr>
										<td width="79%" class="title-table">Aakash</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
									<tr>
										<td width="79%" class="title-table">Ajay</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
									<tr>
										<td width="79%" class="title-table">Sumit</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
									<tr>
										<td width="79%" class="title-table">Anil</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
								</table>
								<div id="save-button">
									<button type="button" class="btn btn-info save-btn">Save</button>
									<button type="button" class="btn btn-outline-info">Cancel</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
</section>