body{
	margin:0px;
	padding:0px;
	font-family: "Verdana", Geneva, sans-serif;
	font-size:medium;
}
ul{
	padding: 0px;
	margin: 0px;
}
figure{
	padding: 0px;
	margin: 0px;
}
p{
	padding:0px;
	margin:0px;
}
h1{
	padding:0px;
	margin:0px;
}
#main{
	width: 100%;
    background-color: #f1f1f1;
}
.col-md-1 , .col-md-11{
	padding: 0px;
}
.side-nav{
	min-height: 560px;
	background-color: #48a5ea;
	text-align: center;
}
@media (min-width: 992px)
{
.col-md-1 {
    width: 21.333333%;
     padding: 0px 8px;
}
.col-md-11 {
    width: 78.666667%;
     padding: 0px 8px;
}
}
.traingle-shape{
    position: relative;
    top: 150px;
    left: 82%;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 50px solid white;
    border-bottom: 40px solid transparent;
}
.add-student, .create-groups, .manage-students{
	padding: 8px 0px;
}
.active{
	background-color: #fff;
}
.side-nav a{
	text-decoration: none;
	color: #223460;
    padding: 7px 0px;
    font-weight: bold;
}
.side-nav img{
	width: 45px;
}
.empty-space{
	padding: 12px 0px;
}
.main-sec{
    min-height: 505px;
    background-color: #fff;
    text-align: left;
}
.pattern img{
	float: right;
    width: 5%;
}

.title{
	margin-bottom: 20px;
}
.title p{
	font-size: 145%;
    color: #223460;
    font-weight: bold;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    color: #48a5ea;
}
.form-control {
	border: 1px solid #48a5ea;
}
.title-table{
  text-align: center;
  padding-left: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th {
    text-align: center;
    padding: 10px 0px;
    background-color: #f1f1f1;
    color: #48a5ea;
    font-weight: bold;
}
td {
    text-align: center;
    padding: 10px 0px;
    color: #223460;
    border-bottom: 1px solid #c8c8c8;
}
.edit, .delete{
	cursor: pointer;
}
.edit img{
	width: 29px;
}
.delete img{
	width: 18px;
}
#save-button{
	margin-top: 35px;
    width: 97%;
    margin-right: 3%;
    text-align: right;
}
.save-btn{
	margin: 0px 25px;
}



#ques-filter{
	width: 100%;
    background-color: white;
   
    min-height: 555px;
    overflow-y: auto;
}
#filters-p{
    padding: 11px 10%;
    border-bottom: 1px solid #c8c8c8;
    color: #48a5ea;
    font-size: 115%;
}
#filters-p p , #filters-p button{
  display: inline-block;
}
.checkbox-area{
	padding: 10px 0px 10px 10%;
	border-bottom: 1px solid #c8c8c8;
}
.heading-p{
	color: #48a5ea;
	font-size: 110%;
	width: 85%;
}
.checkbox-area figure{
	width: 10%;
	vertical-align: top;
    cursor: pointer;
}
.title-input{
    width: 100%;
    margin: 5px 0px 20px 0px;
}
#filter-btn{
      padding: 2px 4px;
      margin-left: 12px;
}
.checkbox-area figure span{
  color: #48a5ea;
  font-family: 'Glyphicons Halflings';
}

.checkbox-area .heading-p, .checkbox-area figure{
	display: inline-block;
}
#type-ahead{
    position: relative;
    top: -3px;
    left: -12px;
}

.boxes {
  margin: auto;
  padding: 10px 0px;
}

/*Checkboxes styles*/
input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 0px;
  margin-bottom: 15px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #223460;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0; 
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #48a5ea;
  position: absolute;
  left: -30px;
  top: 0;
  opacity: .1;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}
.genderLabel{
    margin-left: 30px;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: -23px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.label-p{
	    margin-left: 22px;
    font-size: 100%;
    font-weight: normal;
    position: relative;
    top: -5px;
    color: #223460;
}

#ques-area{
	width: 77%;
    background-color: white;
    margin-right:  10px;
    vertical-align: top;
    height: 560px;
}
.head-title{
    width: 100%;
    background-color: #48a5ea;
    padding: 11px 25px;
    border-top: 2px solid #f1f1f1;
}
.head-title P{
  color: white;
    font-size: 125%;
    font-weight: bold;
}
.white-line{
      height: 2px;
    background-color: white;
    margin: 0;
    position: relative;
    top: -5px;
}
.chosen{
    font-weight: bold;
    border-bottom: 3px solid #223460;
    z-index: 1;
    color: #223460 !important;
    
}

.head-title p, .head-title a{
  display: inline-block;
}
.head-title a{
  margin-left: 68%;
}
.student-name{
    text-align: left;
}
.modal-insert{
	position: relative;
	top: 68px !important;
	left: -2px !important;
}
.modal-body {
    position: relative;
    padding: 15px 0px 15px 0px !important;
}
#finalize-body-clr{
    background-color: #f7fbff;
}
.finalize-p{
    text-align: center;
    color: #48a5ea;
    font-size: 21px;
    font-weight: bold;
}
#y-n-btn{
    margin-left: 5%;
    padding: 5px 12px !important;
}
.finalize-btn{
    text-align: center;
    padding: 10px 0px;
}
.glyphicon-ok , .glyphicon-remove{
    font-size: 12px;
}
.footer-pagination{
    position: absolute;
    width: 75%;
    top: 480px;
}
.active_candidate{
	width: 10px;
    height:10px;
    border-radius: 50%;
    margin-right: 3%;
    background-color: green;
    display: inline-block;
    border: 2px solid #71e2ef;
    cursor: pointer;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
	
}
  .inactive_candidate{
	width: 10px;
    height:10px;
    border-radius: 50%;
    margin-right: 3%;
    background-color: red;
    display: inline-block;
    border: 2px solid #71e2ef;
    cursor: pointer;
    line-height: 0.8;
    font-size: 20px;
    text-align: center;
	
}
.footer-pagination{
  position: absolute;
  width: 75%;
  top: 480px;
}