<section id="main">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-1">
						<div class="side-nav">
							<div class="empty-space"></div>
							<div class="add-student">
								<a href="#/candidate/new"><img src="../../assets/images/add-student.png"><br>Add<br>Candidate</a>
							</div>
							<div class="create-groups">
								<a href="#/candidate/group"><img src="../../assets/images/create-groups.png"><br>Create<br>Groups</a>
							</div>
							<div class="manage-students active">
								<a href="#/candidate/manage"><img src="../../assets/images/manage-student.png"><br>Manage<br>Candidates</a>
							</div>
							<figure class="traingle-shape">
							</figure>
						</div>
					</div>
					<div class="col-md-11">
						<div class="main-sec">
							<figure class="pattern">
								<img src="../../assets/images/question-layout-pattern.png">
							</figure>
							<div class="student-manage-sec">
								<div class="title"><p>Manage Students</p></div>
								<table>
									<tr>
										<th width="79%" class="title-table">Student Name</th>
										<th width="10%">Edit</th>
										<th width="10%">Delete</th>
									</tr>
									<tr>
										<td width="79%" class="title-table">Aakash</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
									<tr>
										<td width="79%" class="title-table">Ajay</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
									<tr>
										<td width="79%" class="title-table">Sumit</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
									<tr>
										<td width="79%" class="title-table">Anil</td>
										<td width="10%">
											<figure class="edit"><img src="../../assets/images/edit.png"></figure>
										</td>
										<td width="10%">
											<figure class="delete"><img src="../../assets/images/delete.png"></figure>
										</td>
									</tr>
								</table>
								<div id="save-button">
									<button type="button" class="btn btn-info save-btn">Save</button>
									<button type="button" class="btn btn-outline-info">Cancel</button>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
</section>