<section id="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1">
				<div id="ques-filter">
					<div id="filters-p">
						<div>
							<p>Filters </p>
							<button type="button" id="filter-btn" class="btn btn-info" (click)="getFiltteredCandidates()">Apply Filter</button>
						</div>

					</div>

					<div class="checkbox-area">
						<p class="heading-p">-First Name</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':isfirstNameCollapsed}" (click)="isfirstNameCollapsed = !isfirstNameCollapsed"></span></figure>
						<div [collapse]="!isfirstNameCollapsed" class="card card-block card-header">
							<div id="type-ahead">
								<input type="text" class="form-control title-input" name="title" [(ngModel)]="firstNameSelected">
							</div>
						</div>
					</div>
					<div class="checkbox-area">
						<p class="heading-p">-Last Name</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':isLastNameCollapsed}" (click)="isLastNameCollapsed = !isLastNameCollapsed"></span></figure>
						<div [collapse]="!isLastNameCollapsed" class="card card-block card-header">
							<div id="type-ahead">
								<input type="text" class="form-control title-input" name="title" [(ngModel)]="lastNameSelected">
							</div>
						</div>
					</div>
					<div class="checkbox-area">
						<p class="heading-p">-Gender</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':isGenderCollapsed}" (click)="isGenderCollapsed = !isGenderCollapsed"></span></figure>
						<div [collapse]="!isGenderCollapsed" class="card card-block card-header">
							<div class="boxes" *ngFor="let gender of gender; let i = index">
								<input type="checkbox" id="gender{{i+1}}" name="gender{{i+1}}" [(ngModel)]="gender.isSelected" />
								<label for="gender{{i+1}}">{{gender.value}}</label>
							</div>
						</div>
					</div>
					<div class="checkbox-area">
						<p class="heading-p">-Contact Number</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':isContactNoCollapsed}" (click)="isContactNoCollapsed = !isContactNoCollapsed"></span></figure>
						<div [collapse]="!isContactNoCollapsed" class="card card-block card-header">
							<div id="type-ahead">
								<input type="text" class="form-control title-input" name="title" [(ngModel)]="contactNoSelected">
							</div>
						</div>
					</div>
					<div class="checkbox-area">
						<p class="heading-p">-Email Id</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':isEmailIdCollapsed}" (click)="isEmailIdCollapsed = !isEmailIdCollapsed"></span></figure>
						<div [collapse]="!isEmailIdCollapsed" class="card card-block card-header">
							<div id="type-ahead">
								<input type="text" class="form-control title-input" name="title" [(ngModel)]="emailIdSelected">
							</div>
						</div>
					</div>

					<div class="checkbox-area">
						<p class="heading-p">-Identifier</p>
						<figure><span class="glyphicon glyphicon-plus" [ngClass]="{'glyphicon-minus':isIdentifierCollapsed}" (click)="isIdentifierCollapsed = !isIdentifierCollapsed"></span></figure>
						<div [collapse]="!isIdentifierCollapsed" class="card card-block card-header">
							<div id="type-ahead">
								<input type="text" class="form-control title-input" name="title" [(ngModel)]="identifierSelected">
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-11">
				<nav class="sub-nav">
					<a href="#/candidate/new">Add Candidate</a>
					<a class="chosen" href="#/candidate/manage">Manage Candidates</a>
					<a href="#/candidate/group">Create Groups</a>
					<a href="#">Review Groups</a>
					<hr class="white-line">
				</nav>
				<div class="main-sec">
					<div class="student-manage-sec">
						<table>
							<tr>
								<th width="79%" class="title-table">Student Name</th>
								<th width="79%" class="title-table">Identifier</th>
								<th width="79%" class="title-table">Email Id</th>
								<th width="79%" class="title-table">Contact No</th>
								<th width="10%">Edit</th>
								<th width="10%">Delete</th>
							</tr>
							<tr *ngFor="let candidate of candidates">
								<td width="20%" class="title-table">{{candidate.firstName}} {{candidate.lastName}} </td>
								<td width="20%" class="title-table">{{candidate.identifier}}</td>
								<td width="20%" class="title-table">{{candidate.emailId}}</td>
								<td width="20%" class="title-table">{{candidate.contactNo}}</td>
								<td width="10%">
									<figure class="edit"><img src="../../assets/images/edit.png"></figure>
								</td>
								<td width="10%">
									<figure class="delete"><img src="../../assets/images/delete.png"></figure>
								</td>
							</tr>
							
						</table>
						
					</div>
					<div class="col-md-10">
						<pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"
						 [rotate]="false" (numPages)="numPages = $event" itemsPerPage="{{itemsPerPage}}" (pageChanged)="pageChanged($event)"></pagination>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>