<div class="form-container">
	<div class="form">
		<h2>Create an account</h2>
		<form #signupForm="ngForm">
			<input type="text" placeholder="Organisation Name"  name="orgName" id="orgName" [(ngModel)]="signupData.orgName" #orgName="ngModel" required />
			<div *ngIf="orgName.errors && (orgName.dirty || orgName.touched)" class="tooltip-arrow">
				<div [hidden]="!orgName.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Organisation name is required</p>
				</div>
			</div>
			<input type="text" placeholder="Full Name" name="cnctName" id="cnctName" [(ngModel)]="signupData.cnctName" #cnctName="ngModel" required />
			<div *ngIf="cnctName.errors && (cnctName.dirty || cnctName.touched)" class="tooltip-arrow">
				<div [hidden]="!cnctName.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Name is required</p>
				</div>
			</div>
			<input type="email" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="emailId" id="emailId" [(ngModel)]="signupData.emailId" #emailId="ngModel" required />
			<div *ngIf="emailId.errors && (emailId.dirty || emailId.touched)" class="tooltip-arrow">
				<div [hidden]="!emailId.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Email Address is required</p>
				</div>
				<div [hidden]="!emailId.errors.pattern">
					<p><span class="traingle-sym">&#9664;</span>Please fill out valid Email Address</p>
				</div>
			</div>
			<input type="tel" placeholder="Contact No" pattern="[7-9]{1}[0-9]{9}" name="cnctNo" id="cnctNo" [(ngModel)]="signupData.cnctNo" #cnctNo="ngModel" required />
			<div *ngIf="cnctNo.errors && (cnctNo.dirty || cnctNo.touched)" class="tooltip-arrow">
				<div [hidden]="!cnctNo.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Contact No. is required</p>
				</div>
				<div [hidden]="!cnctNo.errors.pattern">
					<p><span class="traingle-sym">&#9664;</span>Please enter valid Phone no.</p>
				</div>
			</div>
			<input type="text" placeholder="User Name" name="userName" id="userName" [(ngModel)]="signupData.userName" #userName="ngModel" required />
			<div *ngIf="userName.errors && (userName.dirty || userName.touched)" class="tooltip-arrow">
				<div [hidden]="!userName.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Username is required</p>
				</div>
			</div>
			<input type="password" placeholder="Password" pattern=".{6,}" name="password" id="password" [(ngModel)]="signupData.password"  #password="ngModel" required />
			<div *ngIf="password.errors && (password.dirty || password.touched)" class="tooltip-arrow">
				<div [hidden]="!password.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Password is required</p>
				</div>
				<div [hidden]="!password.errors.pattern">
					<p><span class="traingle-sym">&#9664;</span>Password that must contain 6 or more characters</p>
				</div>
			</div>
			<input type="password" placeholder="Confirm Password" name="confirmpassword" [(ngModel)]="confirmpassword" [ngModelOptions]="{standalone: true}"  required />
			<!-- <div *ngIf="confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched)" class="tooltip-arrow">
				<div [hidden]="!confirmpassword.errors.required">
					<p><span class="traingle-sym">&#9664;</span>Password is required</p>
				</div>
				<div [hidden]="confirmpassword==signupData.password">
					<p><span class="traingle-sym">&#9664;</span>Password should match</p>
				</div>
			</div> -->
			<div class="radio-button">
  					<input type="radio" id="individual" name="radio1" checked="">
  					<label for="radio1">Individual</label>
  					<input type="radio" id="company" name="radio1">
  					<label for="radio1">Company</label>
	 			 </div>
			<button (click)="signup()" name="register" [disabled]="!signupForm.form.valid">Register</button>
		</form>
	</div>
</div>