<div class="container">
	<div class="form-container">
		<div class="form">
			<h2>Create an account</h2>
			<form #signupForm="ngForm">
				<div class="radio-button">
					<input type="radio" id="individual" name="radio1" [(ngModel)]="signupData.isOrg" [value]=false>
					<label for="radio1">Individual</label>

					<input type="radio" id="company" name="radio1" [(ngModel)]="signupData.isOrg" [value]=true>
					<label for="radio1">Company</label>

				</div>
				<div *ngIf="signupData.isOrg" [@myAnimation]="signupData.isOrg">
					<div class="row-group">
						<div class="input-control">
							<input type="text" placeholder="Organisation Name" name="orgName" id="orgName" [(ngModel)]="signupData.orgName" required/>
						</div>
						<div *ngIf="formErrors.orgName" class="icon-control">
							<img src="../../assets/images/error-icon.png" popover="{{formErrors.orgName}}" triggers="mouseenter:mouseleave" placement="left">
						</div>
					</div>

				</div>
				<div class="row-group">
					<div class="input-control">
						<input type="text" placeholder="Full Name" name="cnctName" id="cnctName" [(ngModel)]="signupData.cnctName" required />
					</div>
					<div *ngIf="formErrors.cnctName" class="icon-control">
						<img src="../../assets/images/error-icon.png" popover="{{formErrors.cnctName}}" triggers="mouseenter:mouseleave" placement="left">
					</div>
				</div>
				<div class="row-group">
					<div class="input-control">
						<input type="email" placeholder="Email Address" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" name="emailId" id="emailId"
						 [(ngModel)]="signupData.emailId" required />
					</div>
					<div *ngIf="formErrors.emailId" class="icon-control">
						<img src="../../assets/images/error-icon.png" popover="{{formErrors.emailId}}" triggers="mouseenter:mouseleave" placement="left">
					</div>
				</div>
				<div class="row-group">
					<div class="input-control">
						<input type="tel" placeholder="Contact No" pattern="[7-9]{1}[0-9]{9}" name="cnctNo" id="cnctNo" [(ngModel)]="signupData.cnctNo"
						 required />
					</div>
					<div *ngIf="formErrors.cnctNo" class="icon-control">
						<img src="../../assets/images/error-icon.png" popover="{{formErrors.cnctNo}}" triggers="mouseenter:mouseleave" placement="left">
					</div>
				</div>
				<div class="row-group">
					<div class="input-control">
						<input type="text" placeholder="User Name" name="userName" id="userName" [(ngModel)]="signupData.userName" required />
					</div>
					<div *ngIf="formErrors.userName" class="icon-control">
						<img src="../../assets/images/error-icon.png" popover="{{formErrors.userName}}" triggers="mouseenter:mouseleave" placement="left">
					</div>
				</div>
				<div class="row-group">
					<div class="input-control">
						<input type="password" placeholder="Password" pattern=".{6,}" name="password" id="password" [(ngModel)]="signupData.password"
						 required validateEqual="confirmpassword" reverse="true" />
					</div>
					<div *ngIf="formErrors.password" class="icon-control">
						<img src="../../assets/images/error-icon.png" popover="{{formErrors.password}}" triggers="mouseenter:mouseleave" placement="left">
					</div>
				</div>
				<div class="row-group">
					<div class="input-control">
						<input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" [(ngModel)]="confirmpassword"
						  validateEqual="password" required/>
					</div>
					<div *ngIf="formErrors.confirmpassword" class="icon-control">
						<img src="../../assets/images/error-icon.png" popover="{{formErrors.confirmpassword}}" triggers="mouseenter:mouseleave"
						 placement="left">
					</div>
				</div>

				<button (click)="signup()" name="register" [disabled]="!signupForm.form.valid">Register</button>
			</form>
		</div>
	</div>
</div>